@charset "UTF-8";
html {
  box-sizing: border-box;
}

*, *::after, *::before {
  box-sizing: inherit;
}

/*! normalize.css v3.0.3 | MIT License | github.com/necolas/normalize.css */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS and IE text size adjust after device orientation change,
 *    without disabling user zoom.
 */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/**
 * Remove default margin.
 */
body {
  margin: 0;
}

/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11
 * and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}

/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */
}

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/10/11, Safari, and Firefox < 22.
 */
[hidden],
template {
  display: none;
}

/* Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
a {
  background-color: transparent;
}

/**
 * Improve readability of focused elements when they are also in an
 * active/hover state.
 */
a:active,
a:hover {
  outline: 0;
}

/* Text-level semantics
   ========================================================================== */
/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted;
}

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */
b,
strong {
  font-weight: bold;
}

/**
 * Address styling not present in Safari and Chrome.
 */
dfn {
  font-style: italic;
}

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/**
 * Address styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000;
}

/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9/10.
 */
img {
  border: 0;
}

/**
 * Correct overflow not hidden in IE 9/10/11.
 */
svg:not(:root) {
  overflow: hidden;
}

/* Grouping content
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari.
 */
figure {
  margin: 1em 40px;
}

/**
 * Address differences between Firefox and other browsers.
 */
hr {
  box-sizing: content-box;
  height: 0;
}

/**
 * Contain overflow in all browsers.
 */
pre {
  overflow: auto;
}

/**
 * Address odd `em`-unit font size rendering in all browsers.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */
}

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
button {
  overflow: visible;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
button,
select {
  text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
}

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default;
}

/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
input {
  line-height: normal;
}

/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome.
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  box-sizing: content-box;
  /* 2 */
}

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */
textarea {
  overflow: auto;
}

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
optgroup {
  font-weight: bold;
}

/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

@font-face {
  font-family: "FontAwesome";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/font-awesome/fontawesome-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/font-awesome/fontawesome-webfont.woff2") format("woff2"), url("../fonts/font-awesome/fontawesome-webfont.woff") format("woff"), url("../fonts/font-awesome/fontawesome-webfont.ttf") format("truetype"), url("../fonts/font-awesome/fontawesome-webfont.svg#FontAwesome") format("svg");
}

html {
  font-size: 16px;
}

body {
  color: #645d4e;
  font: normal 100%/14px "Lato", serif;
}

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

video {
  height: auto;
  width: 100%;
}

img {
  display: inline-block;
  height: auto;
  max-width: 100%;
}

hr {
  background-color: #b0aca5;
  border: 0;
  display: block;
  height: 1px;
  width: 100%;
}

hr::after {
  clear: both;
  content: '';
  display: table;
}

label {
  margin-bottom: 0.3125rem;
  display: block;
}

form {
  margin: 0 0 1.25rem;
}

fieldset {
  border: 0;
}

fieldset::after {
  clear: both;
  content: '';
  display: table;
}

fieldset ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

iframe,
object,
embed {
  max-width: 100%;
}

ul {
  margin: 0;
  padding: 0;
}

ol {
  margin: 0;
  padding: 0;
}

blockquote,
q {
  quotes: '\201C""\201D""\2018""\2019';
}

blockquote::before,
q::before {
  content: open-quote;
}

blockquote::after,
q::after {
  content: close-quote;
}

blockquote p,
q p {
  display: inline;
}

strong {
  font-weight: bold;
}

em {
  font-style: italic;
}

.a-right {
  text-align: right;
}

.a-center {
  text-align: center;
}

.a-left {
  text-align: left;
}

.f-right {
  float: right;
}

.f-left {
  float: left;
}

.no-display {
  display: none;
}

.hideme-fadein {
  opacity: 0;
  transition: all .5s ease;
}

.fadein-after {
  opacity: 1;
}

.link-learn {
  display: block;
}

.link-wishlist,
.link-compare,
.btn-cart {
  background-color: #86933b;
  background-image: linear-gradient(0deg,#86933b 50%, #645d4e 51%, #645d4e 100%, transparent, transparent, transparent, transparent, transparent, transparent, transparent);
  background-position: 0 100%;
  background-repeat: repeat-x;
  background-size: 100% 210%;
  border: 0;
  transition: all .5s ease;
  color: #fff;
  display: inline-block;
  margin: 0.625rem auto;
  padding: 0.625rem 1.25rem;
  text-align: center;
  text-decoration: none;
}

.link-wishlist:hover,
.link-compare:hover,
.btn-cart:hover {
  background-position: 0 0;
}

footer {
  background-color: #8d877e;
  clear: both;
}

footer ul {
  text-align: center;
}

footer li {
  display: inline-block;
  list-style-type: none;
}

footer hr {
  background-color: #645d4e;
  margin: 0;
}

footer a,
footer p {
  color: #fff;
  text-decoration: none;
}

footer p:last-of-type {
  text-align: right;
}

footer p:nth-of-type(2) {
  text-align: center;
}

.footer-first-menu li {
  margin-right: 15px;
}

.footer-first-menu a {
  display: block;
  font-size: 1.05rem;
  margin: 0.9375rem 0 -0.0625rem;
  text-transform: uppercase;
  transition: all .5s ease;
}

.footer-first-menu a::after {
  background-color: #fff;
  content: '';
  display: block;
  height: 1px;
  margin-top: 15px;
  transition: all .5s ease;
  width: 100%;
}

.footer-first-menu a:hover::after {
  background-color: #86933b;
}

.footer-second-menu li > a::after {
  content: '|';
  padding: 0 5px;
}

.footer-second-menu li:last-child > a::after {
  content: '';
}

.footer-menu-last li:first-of-type {
  float: left;
}

.footer-menu-last li:last-of-type {
  float: right;
}

header {
  background: url("http://eskipaper.com/images/high-resolution-wallpaper-3.jpg") no-repeat center center;
  background-size: cover;
  height: 100vh;
}

header .green-row {
  background-color: #86933b;
  color: #fff;
  padding: 0.625rem 0;
}

header hr {
  background-color: #b0aca5;
}

header .breadcrumbs {
  text-align: left;
}

header .breadcrumbs strong {
  font-weight: 400;
}

header a {
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
}

header .logo {
  margin: 3.125rem 0;
  text-align: center;
}

header .transparent-layer {
  background-color: rgba(255, 255, 255, 0.7);
}

textarea {
  resize: vertical;
}

input::-moz-focus-inner,
button::-moz-focus-inner {
  border: 0;
  padding: 0;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

ul {
  margin: 0;
}

.container {
  margin: 0 auto;
  max-width: 1200px;
}

.row {
  padding: 0 15px;
  width: 100%;
}

.row .row {
  padding: 0;
}

.row::after {
  clear: both;
  content: '';
  display: table;
}

.row::before {
  clear: both;
  content: '';
  display: table;
}

.column-xs-1 {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 6.17215%;
}

.column-xs-1:last-child {
  margin-right: 0;
}

@media screen and (min-width: 769px) {
  .column-sm-1 {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 6.17215%;
  }
  .column-sm-1:last-child {
    margin-right: 0;
  }
}

@media screen and (min-width: 992px) {
  .column-md-1 {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 6.17215%;
  }
  .column-md-1:last-child {
    margin-right: 0;
  }
}

@media screen and (min-width: 1200px) {
  .column-lg-1 {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 6.17215%;
  }
  .column-lg-1:last-child {
    margin-right: 0;
  }
}

.column-xs-2 {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 14.70196%;
}

.column-xs-2:last-child {
  margin-right: 0;
}

@media screen and (min-width: 769px) {
  .column-sm-2 {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 14.70196%;
  }
  .column-sm-2:last-child {
    margin-right: 0;
  }
}

@media screen and (min-width: 992px) {
  .column-md-2 {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 14.70196%;
  }
  .column-md-2:last-child {
    margin-right: 0;
  }
}

@media screen and (min-width: 1200px) {
  .column-lg-2 {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 14.70196%;
  }
  .column-lg-2:last-child {
    margin-right: 0;
  }
}

.column-xs-3 {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 23.23176%;
}

.column-xs-3:last-child {
  margin-right: 0;
}

@media screen and (min-width: 769px) {
  .column-sm-3 {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 23.23176%;
  }
  .column-sm-3:last-child {
    margin-right: 0;
  }
}

@media screen and (min-width: 992px) {
  .column-md-3 {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 23.23176%;
  }
  .column-md-3:last-child {
    margin-right: 0;
  }
}

@media screen and (min-width: 1200px) {
  .column-lg-3 {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 23.23176%;
  }
  .column-lg-3:last-child {
    margin-right: 0;
  }
}

.column-xs-4 {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 31.76157%;
}

.column-xs-4:last-child {
  margin-right: 0;
}

@media screen and (min-width: 769px) {
  .column-sm-4 {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 31.76157%;
  }
  .column-sm-4:last-child {
    margin-right: 0;
  }
}

@media screen and (min-width: 992px) {
  .column-md-4 {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 31.76157%;
  }
  .column-md-4:last-child {
    margin-right: 0;
  }
}

@media screen and (min-width: 1200px) {
  .column-lg-4 {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 31.76157%;
  }
  .column-lg-4:last-child {
    margin-right: 0;
  }
}

.column-xs-5 {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 40.29137%;
}

.column-xs-5:last-child {
  margin-right: 0;
}

@media screen and (min-width: 769px) {
  .column-sm-5 {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 40.29137%;
  }
  .column-sm-5:last-child {
    margin-right: 0;
  }
}

@media screen and (min-width: 992px) {
  .column-md-5 {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 40.29137%;
  }
  .column-md-5:last-child {
    margin-right: 0;
  }
}

@media screen and (min-width: 1200px) {
  .column-lg-5 {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 40.29137%;
  }
  .column-lg-5:last-child {
    margin-right: 0;
  }
}

.column-xs-6 {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 48.82117%;
}

.column-xs-6:last-child {
  margin-right: 0;
}

@media screen and (min-width: 769px) {
  .column-sm-6 {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 48.82117%;
  }
  .column-sm-6:last-child {
    margin-right: 0;
  }
}

@media screen and (min-width: 992px) {
  .column-md-6 {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 48.82117%;
  }
  .column-md-6:last-child {
    margin-right: 0;
  }
}

@media screen and (min-width: 1200px) {
  .column-lg-6 {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 48.82117%;
  }
  .column-lg-6:last-child {
    margin-right: 0;
  }
}

.column-xs-7 {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 57.35098%;
}

.column-xs-7:last-child {
  margin-right: 0;
}

@media screen and (min-width: 769px) {
  .column-sm-7 {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 57.35098%;
  }
  .column-sm-7:last-child {
    margin-right: 0;
  }
}

@media screen and (min-width: 992px) {
  .column-md-7 {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 57.35098%;
  }
  .column-md-7:last-child {
    margin-right: 0;
  }
}

@media screen and (min-width: 1200px) {
  .column-lg-7 {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 57.35098%;
  }
  .column-lg-7:last-child {
    margin-right: 0;
  }
}

.column-xs-8 {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 65.88078%;
}

.column-xs-8:last-child {
  margin-right: 0;
}

@media screen and (min-width: 769px) {
  .column-sm-8 {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 65.88078%;
  }
  .column-sm-8:last-child {
    margin-right: 0;
  }
}

@media screen and (min-width: 992px) {
  .column-md-8 {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 65.88078%;
  }
  .column-md-8:last-child {
    margin-right: 0;
  }
}

@media screen and (min-width: 1200px) {
  .column-lg-8 {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 65.88078%;
  }
  .column-lg-8:last-child {
    margin-right: 0;
  }
}

.column-xs-9 {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 74.41059%;
}

.column-xs-9:last-child {
  margin-right: 0;
}

@media screen and (min-width: 769px) {
  .column-sm-9 {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 74.41059%;
  }
  .column-sm-9:last-child {
    margin-right: 0;
  }
}

@media screen and (min-width: 992px) {
  .column-md-9 {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 74.41059%;
  }
  .column-md-9:last-child {
    margin-right: 0;
  }
}

@media screen and (min-width: 1200px) {
  .column-lg-9 {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 74.41059%;
  }
  .column-lg-9:last-child {
    margin-right: 0;
  }
}

.column-xs-10 {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 82.94039%;
}

.column-xs-10:last-child {
  margin-right: 0;
}

@media screen and (min-width: 769px) {
  .column-sm-10 {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 82.94039%;
  }
  .column-sm-10:last-child {
    margin-right: 0;
  }
}

@media screen and (min-width: 992px) {
  .column-md-10 {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 82.94039%;
  }
  .column-md-10:last-child {
    margin-right: 0;
  }
}

@media screen and (min-width: 1200px) {
  .column-lg-10 {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 82.94039%;
  }
  .column-lg-10:last-child {
    margin-right: 0;
  }
}

.column-xs-11 {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 91.4702%;
}

.column-xs-11:last-child {
  margin-right: 0;
}

@media screen and (min-width: 769px) {
  .column-sm-11 {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 91.4702%;
  }
  .column-sm-11:last-child {
    margin-right: 0;
  }
}

@media screen and (min-width: 992px) {
  .column-md-11 {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 91.4702%;
  }
  .column-md-11:last-child {
    margin-right: 0;
  }
}

@media screen and (min-width: 1200px) {
  .column-lg-11 {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 91.4702%;
  }
  .column-lg-11:last-child {
    margin-right: 0;
  }
}

.column-xs-12 {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 100%;
}

.column-xs-12:last-child {
  margin-right: 0;
}

@media screen and (min-width: 769px) {
  .column-sm-12 {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 100%;
  }
  .column-sm-12:last-child {
    margin-right: 0;
  }
}

@media screen and (min-width: 992px) {
  .column-md-12 {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 100%;
  }
  .column-md-12:last-child {
    margin-right: 0;
  }
}

@media screen and (min-width: 1200px) {
  .column-lg-12 {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 100%;
  }
  .column-lg-12:last-child {
    margin-right: 0;
  }
}

.grid > * {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 100%;
}

.grid > *:last-child {
  margin-right: 0;
}

@media (min-width: 30rem) and (max-width: 48.0625rem) {
  .grid > * {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 48.82117%;
  }
  .grid > *:last-child {
    margin-right: 0;
  }
  .grid > *:nth-child(2n) {
    margin-right: 0;
  }
}

@media (min-width: 48.125rem) and (max-width: 74.9375rem) {
  .grid > * {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 31.76157%;
  }
  .grid > *:last-child {
    margin-right: 0;
  }
  .grid > *:nth-child(3n) {
    margin-right: 0;
  }
}

@media (min-width: 75rem) {
  .grid > * {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 23.23176%;
  }
  .grid > *:last-child {
    margin-right: 0;
  }
  .grid > *:nth-child(4n) {
    margin-right: 0;
  }
}

.col-3-images {
  margin: 3.125rem auto 0;
}

.col-3-images div > div {
  margin-bottom: 3.125rem;
}

.col-3-images .link {
  color: #86933b;
  text-decoration: none;
  -webkit-transform: scale(1);
  transform: scale(1);
  transition: all .5s ease;
}

.col-3-images .link:hover {
  -webkit-transform: scale(2);
  transform: scale(2);
}

.cms-index-index .relative {
  overflow: hidden;
  position: relative;
}

.cms-index-index .relative span a {
  background-color: #fff;
  bottom: 20%;
  display: block;
  line-height: 3.125rem;
  position: absolute;
  text-align: center;
  text-transform: uppercase;
  width: 100%;
}

.cms-index-index .relative span a::before, .cms-index-index .relative span a::after {
  background-color: rgba(134, 147, 59, 0.9);
  content: '';
  display: block;
  height: 5px;
  width: 100%;
}

@media (min-width: 48.125rem) {
  .catalog-product-view .product-img-box {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 48.82117%;
  }
  .catalog-product-view .product-img-box:last-child {
    margin-right: 0;
  }
}

@media (min-width: 48.125rem) {
  .catalog-product-view .product-shop {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 48.82117%;
    margin-right: 0;
  }
  .catalog-product-view .product-shop:last-child {
    margin-right: 0;
  }
}

@media (min-width: 48.125rem) {
  .catalog-product-view .product-image {
    float: left;
    display: block;
    margin-right: 4.82916%;
    width: 82.52847%;
    margin-left: 17.47153%;
  }
  .catalog-product-view .product-image:last-child {
    margin-right: 0;
  }
}

.catalog-product-view .more-views {
  margin-top: 0.625rem;
}

@media (min-width: 48.125rem) {
  .catalog-product-view .more-views {
    float: left;
    display: block;
    margin-right: 4.82916%;
    width: 12.64237%;
    margin-left: -104.82916%;
  }
  .catalog-product-view .more-views:last-child {
    margin-right: 0;
  }
}

.catalog-product-view .more-views h2 {
  display: none;
}

.catalog-product-view .more-views li {
  list-style-type: none;
}

.catalog-product-view .availability.in-stock span {
  color: #86933b;
}

.catalog-product-view .add-to-cart > input {
  padding: 0.3125rem;
}

.catalog-product-view .short-description {
  margin-bottom: 1.25rem;
}

.catalog-product-view .price {
  display: block;
  font-size: 2rem;
  margin: 1.25rem 0;
}

.catalog-product-view .share-with {
  font-size: 1.2rem;
  margin-top: 1.25rem;
}

.catalog-product-view .share-with ul {
  display: inline-block;
  margin-left: 0.625rem;
}

.catalog-product-view .share-with li {
  display: inline-block;
  list-style-type: none;
  margin-left: 0.625rem;
}

.catalog-product-view .share-with a {
  background-position: 0 100%;
  color: #c0bfbf;
  transition: all .5s ease;
}

.catalog-product-view .share-with a:hover {
  background-position: 0 0;
  color: #86933b;
}

.catalog-product-view .product-tabs {
  margin-top: 3.125rem;
}

.catalog-product-view .product-tabs li {
  list-style-type: none;
}

.catalog-product-view .product-tabs li span::after {
  content: '+';
  padding-left: 20px;
}

.catalog-product-view .product-tabs li.active span::after {
  content: '-';
  padding-left: 20px;
}

.catalog-product-view .product-tabs .active > a::after {
  width: 15%;
}

.catalog-product-view .product-tabs a {
  color: #645d4e;
  display: block;
  font-size: 1.5rem;
  margin-bottom: 2.25rem;
  padding: 0.625rem 0;
  text-decoration: none;
}

.catalog-product-view .product-tabs a::before {
  background-color: #86933b;
  content: '';
  display: block;
  height: 1px;
  margin-bottom: 1.25rem;
  width: 100%;
}

.catalog-product-view .product-tabs a::after {
  background-color: #86933b;
  content: '';
  display: block;
  height: 3px;
  margin-top: -2.25rem;
  transition: all .5s ease;
  width: 0%;
}

.catalog-product-view .product-tabs a:hover::after {
  width: 15%;
}

.catalog-product-view .product-tabs-content {
  margin: 3.75rem 0;
}

.catalog-product-view .product-tabs-content::after, .catalog-product-view .product-tabs-content::before {
  background-color: #86933b;
  content: '';
  display: block;
  height: 1px;
  margin: 1.25rem 0;
  width: 100%;
}

.catalog-product-view .product-tabs-content h2 {
  display: none;
}

.catalog-product-view .product-tabs-content .label {
  display: block;
  margin: 5px 10px 5px 0;
}

.catalog-product-view .product-tabs-content .label::after {
  content: ':';
}

.catalog-category-view .grid li {
  list-style-type: none;
}

.catalog-category-view a {
  text-decoration: none;
}

.catalog-category-view a:hover {
  text-decoration: underline;
}

.catalog-category-view .actions {
  text-align: center;
}

.products-grid .item {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15);
  padding: 1.25rem;
  transition: all .5s ease;
}

.products-grid .item:hover {
  box-shadow: 0 5px 1px 5px rgba(0, 0, 0, 0.15);
}

.products-grid .product-name > a,
.products-grid .link-learn {
  color: #645d4e;
  text-decoration: none;
}

.products-grid .add-to-links > li {
  display: inline-block;
  margin-right: 10px;
}

.products-grid .link-wishlist,
.products-grid .link-compare {
  display: inline-block;
  width: auto;
}

.item {
  margin-bottom: 3.125rem;
}

.item .separator {
  display: none;
}

.item .wrapper-on-hover {
  position: relative;
}

.item .wrapper-on-hover .desc {
  background-color: rgba(0, 0, 0, 0.8);
  color: #fff;
  height: 0;
  left: 0;
  opacity: 0;
  padding: 1.25rem;
  position: absolute;
  top: 0;
  transition: all .5s ease;
  width: 100%;
}

.item:hover .wrapper-on-hover .desc {
  height: 100%;
  opacity: 1;
}

.products-list {
  text-align: center;
}

@media (min-width: 48.125rem) {
  .products-list {
    text-align: left;
  }
  .products-list .add-to-links {
    display: inline-block;
  }
  .products-list .add-to-links li {
    display: inline-block;
    margin-left: 1.25rem;
  }
  .products-list > li > div:nth-child(2) {
    text-align: right;
  }
  .products-list .price-box {
    font-size: 2rem;
    font-weight: 700;
    margin-top: 1.875rem;
    text-align: right;
  }
}

.products-list .add-to-links > li {
  display: inline-block;
}

.products-list .link-wishlist span {
  display: none;
}

@media (min-width: 48.125rem) {
  .products-list .link-wishlist span {
    display: initial;
  }
}

.products-list .link-wishlist i {
  display: inline-block;
}

@media (min-width: 48.125rem) {
  .products-list .link-wishlist i {
    display: none;
  }
}

.products-list .link-compare span {
  display: none;
}

@media (min-width: 48.125rem) {
  .products-list .link-compare span {
    display: initial;
  }
}

.products-list .link-compare i {
  display: inline-block;
}

@media (min-width: 48.125rem) {
  .products-list .link-compare i {
    display: none;
  }
}

.products-list .product-name > a,
.products-list .link-learn {
  color: #645d4e;
  text-decoration: none;
}

.products-list .desc {
  margin: 0 auto;
  max-width: 18.75rem;
}

@media (min-width: 48.125rem) {
  .products-list .desc {
    max-width: 100%;
  }
}

.products-list .item {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15);
  margin: 1.25rem auto;
  max-width: 400px;
  padding: 1.25rem;
  transition: all .5s ease;
}

@media (min-width: 48.125rem) {
  .products-list .item {
    max-width: 100%;
  }
}

.products-list .item:hover {
  box-shadow: 0 5px 1px 5px rgba(0, 0, 0, 0.15);
}

.products-list li {
  list-style-type: none;
}

.btn-cart {
  width: auto;
}

@media (min-width: 48.125rem) {
  .btn-cart {
    width: 170px;
  }
}

.col2-left-layout .col-main {
  margin-bottom: 6.25rem;
}

@media (min-width: 48.125rem) {
  .col2-left-layout .col-main {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 74.41059%;
    margin-right: 0;
  }
  .col2-left-layout .col-main:last-child {
    margin-right: 0;
  }
}

.col2-left-layout .col-main a {
  color: #86933b;
  display: block;
  margin-top: 1rem;
}

.col2-left-layout .col-main .page-title {
  display: none;
}

.col2-left-layout .col-main .hello {
  color: #86933b;
  margin-top: 40px;
}

.col2-left-layout .col-main .box-head {
  border-bottom: solid 1px;
  margin-top: 20px;
}

.col2-left-layout .col-main .box-head h2 {
  display: inline-block;
  margin-bottom: 0;
}

.col2-left-layout .col-main .box-head h2::after {
  background-color: #645d4e;
  content: '';
  display: inline-block;
  height: 3px;
  margin-top: 30px;
  width: 100%;
}

.col2-left-layout .col-main .box-title {
  border-bottom: 1px dotted;
  clear: both;
}

.col2-left-layout .col-main .box-title > * {
  display: inline-block;
}

.col2-left-layout .col-main .box-title > a {
  float: right;
}

@media (min-width: 48.125rem) {
  .col2-left-layout .col-left {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 23.23176%;
  }
  .col2-left-layout .col-left:last-child {
    margin-right: 0;
  }
}

.col2-left-layout .col-left li {
  border-bottom: 1px solid #b0aca5;
  list-style-type: none;
  margin-bottom: 15px;
  padding-bottom: 10px;
}

.col2-left-layout .col-left a {
  color: #645d4e;
  display: block;
  margin-bottom: -12px;
  text-decoration: none;
  transition: all .5s ease;
}

.col2-left-layout .col-left a:hover {
  color: #86933b;
}

.col2-left-layout .col-left a::after {
  background-color: #86933b;
  content: '';
  display: block;
  height: 3px;
  margin-top: 17px;
  transition: all .5s ease;
  width: 0%;
}

.col2-left-layout .col-left a:hover::after {
  width: 50%;
}

.col2-left-layout .col-left .current {
  color: #86933b;
}

.col2-left-layout .col-left .current strong {
  display: block;
  margin-bottom: -12px;
}

.col2-left-layout .col-left .current strong::after {
  background-color: #86933b;
  content: '';
  display: block;
  height: 3px;
  margin-top: 17px;
  transition: all .5s ease;
  width: 50%;
}

.block-account .block-title span {
  color: #645d4e;
  display: block;
  font-size: 1.5rem;
  margin: 3.75rem 0 2.5rem;
}

.block-account .block-title span::after, .block-account .block-title span::before {
  background-color: #645d4e;
  content: '';
  display: block;
  height: 1px;
  margin-top: 25px;
  width: 100%;
}

.block-account .block-title span::before {
  border-radius: 5px;
  height: 3px;
  margin-bottom: -2.5625rem;
  margin-top: 0;
  width: 50%;
}

@media (min-width: 48.125rem) {
  .col2-set .box-content > * {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 48.82117%;
  }
  .col2-set .box-content > *:last-child {
    margin-right: 0;
  }
  .col2-set .box-content > *:nth-child(2n) {
    margin-right: 0;
  }
  .col2-set .box-content > *:nth-child(2n+1) {
    clear: left;
  }
}

.customer-account-edit .name-wrapper::before, .customer-account-edit .password-wrapper::before, .customer-account-edit .emai-wrapper::before, .customer-address-form .name-wrapper::before, .customer-address-form .company-wrapper::before, .customer-address-form .tel-wrapper::before, .customer-address-form .fax-wrapper::before, .customer-address-form .address-wrapper::before, .customer-address-form .city-wrapper::before, .checkout-onepage-index .name-wrapper::before, .checkout-onepage-index .company-wrapper::before, .checkout-onepage-index .phone-wrapper::before, .checkout-onepage-index .fax-wrapper::before, .checkout-onepage-index .zip-wrapper::before,
.checkout-onepage-index .state-wrapper::before,
.checkout-onepage-index .address-wrapper::before, .checkout-onepage-index .city-wrapper::before, .checkout-onepage-index .card-wrapper::before, .checkout-onepage-index .cc-wrapper::before {
  color: #c0bfbf;
  display: block;
  font-family: FontAwesome;
  left: 15px;
  pointer-events: none;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-150%);
  transform: translateY(-150%);
}

.customer-account-edit li {
  list-style-type: none;
}

.customer-account-edit input {
  max-width: 500px;
  padding: 10px 20px 10px 35px;
  width: 100%;
}

.customer-account-edit input:focus {
  color: #645d4e;
}

.customer-account-edit .name-wrapper::before {
  content: '\f007';
}

.customer-account-edit .password-wrapper::before {
  content: '\f023';
}

.customer-account-edit .emai-wrapper::before {
  content: '\f0e0';
}

.customer-account-edit .input-box {
  height: 70px;
  position: relative;
}

.customer-account-edit .control {
  max-width: 500px;
  width: 100%;
}

.customer-account-edit .buttons-set {
  max-width: 500px;
  width: 100%;
}

.customer-account-edit .buttons-set .required {
  color: #86933b;
  text-align: right;
}

.customer-account-edit .buttons-set button {
  background-color: #86933b;
  background-image: linear-gradient(0deg,#86933b 50%, #645d4e 51%, #645d4e 100%, transparent, transparent, transparent, transparent, transparent, transparent, transparent);
  background-position: 0 100%;
  background-repeat: repeat-x;
  background-size: 100% 210%;
  border: 0;
  transition: all .5s ease;
  color: #fff;
  display: inline-block;
  float: right;
  margin: 0.625rem auto;
  padding: 0.625rem 1.25rem;
  text-align: center;
  text-decoration: none;
}

.customer-account-edit .buttons-set button:hover {
  background-position: 0 0;
}

.customer-account-edit .back-link {
  float: left;
  -webkit-transform: translateY(-10%);
  transform: translateY(-10%);
}

.customer-account-edit .back-link small {
  display: none;
}

.customer-account-edit .back-link a {
  text-decoration: none;
}

.customer-account-edit .back-link a::before {
  content: '\f104';
  font-family: FontAwesome;
  display: inline-block;
  margin-right: 5px;
  -webkit-transform: translateX(0%);
  transform: translateX(0%);
  transition: all .5s ease;
}

.customer-account-edit .back-link a:hover::before {
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}

.customer-account-edit .validation-advice {
  color: #990000;
  margin-top: 5px;
}

.fieldset {
  margin-top: 30px;
  transition: all .5s ease;
}

.fieldset .legend::after {
  background-color: #645d4e;
  content: '';
  display: block;
  height: 1px;
  margin-top: 1px;
  width: 100%;
}

.fieldset .legend span {
  display: inline-block;
}

.fieldset .legend span::before {
  background-color: #645d4e;
  content: '';
  display: block;
  height: 3px;
  margin-bottom: -33px;
  width: 100%;
}

.fieldset .control input {
  opacity: 0;
}

.fieldset .control label {
  color: #86933b;
  cursor: pointer;
  display: inline-block;
  width: auto;
}

.fieldset .control label::before {
  content: '\f0c8';
  cursor: pointer;
  font-family: FontAwesome;
  display: inline-block;
  height: 20px;
  margin-right: 10px;
  width: 20px;
}

.fieldset .control input:checked + label::before {
  content: '\f14a';
}

.customer-account-edit .name-wrapper::before, .customer-account-edit .password-wrapper::before, .customer-account-edit .emai-wrapper::before, .customer-address-form .name-wrapper::before, .customer-address-form .company-wrapper::before, .customer-address-form .tel-wrapper::before, .customer-address-form .fax-wrapper::before, .customer-address-form .address-wrapper::before, .customer-address-form .city-wrapper::before, .checkout-onepage-index .name-wrapper::before, .checkout-onepage-index .company-wrapper::before, .checkout-onepage-index .phone-wrapper::before, .checkout-onepage-index .fax-wrapper::before, .checkout-onepage-index .zip-wrapper::before,
.checkout-onepage-index .state-wrapper::before,
.checkout-onepage-index .address-wrapper::before, .checkout-onepage-index .city-wrapper::before, .checkout-onepage-index .card-wrapper::before, .checkout-onepage-index .cc-wrapper::before {
  color: #c0bfbf;
  display: block;
  font-family: FontAwesome;
  left: 15px;
  pointer-events: none;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-150%);
  transform: translateY(-150%);
}

.customer-address-index .back-link {
  float: left;
  -webkit-transform: translateY(-10%);
  transform: translateY(-10%);
}

.customer-address-index .back-link small {
  display: none;
}

.customer-address-index .back-link a {
  text-decoration: none;
}

.customer-address-index .back-link a::before {
  content: '\f104';
  font-family: FontAwesome;
  display: inline-block;
  margin-right: 5px;
  -webkit-transform: translateX(0%);
  transform: translateX(0%);
  transition: all .5s ease;
}

.customer-address-index .back-link a:hover::before {
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}

.customer-address-index address {
  font-style: initial;
}

.customer-address-index .addresses-list li {
  border-top: 1px dotted #645d4e;
  list-style-type: none;
  padding-top: 15px;
}

.customer-address-index .addresses-primary li:last-of-type {
  border-bottom: 1px dotted #645d4e;
}

.customer-address-index .page-title.title-buttons {
  display: block;
}

.customer-address-index .page-title.title-buttons h1 {
  display: none;
}

.customer-address-index .item {
  margin-bottom: 0;
}

.customer-address-index .my-account button {
  background-color: #86933b;
  background-image: linear-gradient(0deg,#86933b 50%, #645d4e 51%, #645d4e 100%, transparent, transparent, transparent, transparent, transparent, transparent, transparent);
  background-position: 0 100%;
  background-repeat: repeat-x;
  background-size: 100% 210%;
  border: 0;
  transition: all .5s ease;
  color: #fff;
  display: inline-block;
  float: right;
  margin: 0.9375rem auto;
  padding: 0.625rem 1.25rem;
  text-align: center;
  text-decoration: none;
}

.customer-address-index .my-account button:hover {
  background-position: 0 0;
}

@media (min-width: 30rem) {
  .customer-address-index .col-1.addresses-primary {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 48.82117%;
  }
  .customer-address-index .col-1.addresses-primary:last-child {
    margin-right: 0;
  }
}

@media (min-width: 30rem) {
  .customer-address-index .col-2.addresses-additional {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 48.82117%;
    margin-right: 0;
  }
  .customer-address-index .col-2.addresses-additional:last-child {
    margin-right: 0;
  }
}

.customer-address-index .wrap-h2 {
  border-bottom: solid 1px;
  margin-top: 2px;
}

.customer-address-index .wrap-h2 h2 {
  display: inline-block;
  margin-bottom: 0;
}

.customer-address-index .wrap-h2 h2::after {
  background-color: #645d4e;
  content: '';
  display: inline-block;
  height: 3px;
  margin-top: 22px;
  width: 100%;
}

.customer-address-form li {
  list-style-type: none;
}

.customer-address-form .fieldset {
  margin-top: 0;
}

.customer-address-form .wrap-h2 {
  border-bottom: solid 1px;
  margin-top: 2px;
}

.customer-address-form .wrap-h2 h2 {
  display: inline-block;
  margin-bottom: 0;
}

.customer-address-form .wrap-h2 h2::after {
  background-color: #645d4e;
  content: '';
  display: inline-block;
  height: 3px;
  margin-top: 22px;
  width: 100%;
}

.customer-address-form .form-list {
  margin: 30px 0;
}

.customer-address-form .form-list input,
.customer-address-form .form-list select {
  max-width: 500px;
  padding: 10px 20px 10px 35px;
  width: 100%;
}

.customer-address-form .form-list input:focus {
  color: #645d4e;
}

.customer-address-form .form-list .region-select {
  margin-top: -15px;
}

.customer-address-form .form-list .input-box {
  height: 70px;
  position: relative;
}

.customer-address-form .form-list .validation-advice {
  color: #990000;
  margin-top: 5px;
}

.customer-address-form .name-wrapper::before {
  content: '\f007';
}

.customer-address-form .company-wrapper::before {
  content: '\f1ad';
}

.customer-address-form .tel-wrapper::before {
  content: '\f095';
}

.customer-address-form .fax-wrapper::before {
  content: '\f1ac';
}

.customer-address-form .address-wrapper::before {
  content: '\f041';
}

.customer-address-form .city-wrapper::before {
  content: '\f19c';
}

.customer-address-form .buttons-set {
  max-width: 500px;
  width: 100%;
}

.customer-address-form .buttons-set .required {
  color: #86933b;
  text-align: right;
}

.customer-address-form .buttons-set button {
  background-color: #86933b;
  background-image: linear-gradient(0deg,#86933b 50%, #645d4e 51%, #645d4e 100%, transparent, transparent, transparent, transparent, transparent, transparent, transparent);
  background-position: 0 100%;
  background-repeat: repeat-x;
  background-size: 100% 210%;
  border: 0;
  transition: all .5s ease;
  color: #fff;
  display: inline-block;
  float: right;
  margin: 0.625rem auto;
  padding: 0.625rem 1.25rem;
  text-align: center;
  text-decoration: none;
}

.customer-address-form .buttons-set button:hover {
  background-position: 0 0;
}

.customer-address-form .back-link {
  float: left;
  -webkit-transform: translateY(-10%);
  transform: translateY(-10%);
}

.customer-address-form .back-link small {
  display: none;
}

.customer-address-form .back-link a {
  text-decoration: none;
}

.customer-address-form .back-link a::before {
  content: '\f104';
  font-family: FontAwesome;
  display: inline-block;
  margin-right: 5px;
  -webkit-transform: translateX(0%);
  transform: translateX(0%);
  transition: all .5s ease;
}

.customer-address-form .back-link a:hover::before {
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}

@media (min-width: 48.125rem) {
  .wishlist-index-index .price-info-add,
  .wishlist-index-index .edit-remove,
  .wishlist-index-index .price-box,
  .wishlist-index-index .add-to-cart-alt {
    display: block;
  }
  .wishlist-index-index .add-to-cart-alt > input {
    display: block;
    margin: 0 0 0 auto;
  }
  .wishlist-index-index table {
    width: 100%;
  }
  .wishlist-index-index tr > th,
  .wishlist-index-index tr > td {
    text-align: left;
  }
  .wishlist-index-index tr > .last {
    display: none;
  }
  .wishlist-index-index tr > th:nth-child(3),
  .wishlist-index-index tr > td:nth-child(3) {
    text-align: right;
    padding-right: 0;
  }
  .wishlist-index-index th {
    border-top: 1px solid #645d4e;
    border-bottom: 1px solid #645d4e;
    padding: 15px 0;
  }
  .wishlist-index-index tbody > tr {
    border-bottom: 1px solid #645d4e;
  }
  .wishlist-index-index .price-box {
    margin-bottom: 10px;
  }
}

.wishlist-index-index thead {
  display: none;
}

@media (min-width: 48.125rem) {
  .wishlist-index-index thead {
    display: table-header-group;
  }
}

.wishlist-index-index table {
  margin: 0 auto;
}

.wishlist-index-index td {
  display: block;
}

@media (min-width: 48.125rem) {
  .wishlist-index-index td {
    display: table-cell;
    height: 250px;
    padding: 0 20px;
  }
}

.wishlist-index-index td img {
  display: block;
  margin: 0 auto;
  width: 100%;
}

.wishlist-index-index .description.std {
  margin-bottom: 20px;
}

.wishlist-index-index textarea {
  width: 100%;
  height: 70px;
}

.wishlist-index-index .price-box {
  margin-top: 20px;
}

.wishlist-index-index .buttons-set.buttons-set2 {
  text-align: center;
}

@media (min-width: 48.125rem) {
  .wishlist-index-index .buttons-set.buttons-set2 {
    text-align: right;
  }
}

.wishlist-index-index .buttons-set.buttons-set2 > button {
  background-color: #86933b;
  background-image: linear-gradient(0deg,#86933b 50%, #645d4e 51%, #645d4e 100%, transparent, transparent, transparent, transparent, transparent, transparent, transparent);
  background-position: 0 100%;
  background-repeat: repeat-x;
  background-size: 100% 210%;
  border: 0;
  transition: all .5s ease;
  color: #fff;
  display: inline-block;
  margin: 0.625rem auto;
  padding: 0.625rem 1.25rem;
  text-align: center;
  text-decoration: none;
}

.wishlist-index-index .buttons-set.buttons-set2 > button:hover {
  background-position: 0 0;
}

.wishlist-index-index .add-to-cart-alt input {
  padding-bottom: 6px;
  padding-top: 5px;
}

.wishlist-index-index [class*="class_item_"] {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15);
  display: block;
  margin: 10px auto;
  padding: 10px;
}

@media (min-width: 48.125rem) {
  .wishlist-index-index [class*="class_item_"] {
    display: table-row;
  }
}

.wishlist-index-index [class*="class_item_"]:hover {
  box-shadow: 0 5px 1px 5px rgba(0, 0, 0, 0.15);
}

.box-account > .data-table table,
.sales-order-history table {
  border-collapse: collapse;
  width: 100%;
}

.box-account > .data-table table, .box-account > .data-table td, .box-account > .data-table th,
.sales-order-history table,
.sales-order-history td,
.sales-order-history th {
  border: 1px solid black;
  text-align: center;
}

.box-account > .data-table td,
.sales-order-history td {
  width: 16.66667%;
}

.box-account > .data-table .nobr > span,
.box-account > .data-table .nobr > a:last-of-type,
.sales-order-history .nobr > span,
.sales-order-history .nobr > a:last-of-type {
  display: none;
}

.checkout-cart-index li {
  list-style-type: none;
}

.checkout-cart-index table {
  margin: 0 auto;
  width: 50%;
  text-align: center;
}

@media (min-width: 48.125rem) {
  .checkout-cart-index table {
    width: 100%;
  }
}

.checkout-cart-index thead {
  background-color: #86933b;
  display: none;
}

@media (min-width: 48.125rem) {
  .checkout-cart-index thead {
    display: table-header-group;
  }
}

.checkout-cart-index thead th {
  color: #fff;
  font-weight: 400;
  padding: 10px 0;
}

.checkout-cart-index td {
  display: block;
  width: 100%;
}

@media (min-width: 48.125rem) {
  .checkout-cart-index td {
    display: table-cell;
    width: 14.5%;
  }
}

.checkout-cart-index form tbody > tr {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15);
  display: block;
  margin: 10px auto;
  padding: 10px 0;
}

@media (min-width: 48.125rem) {
  .checkout-cart-index form tbody > tr {
    display: table-row;
  }
  .checkout-cart-index form tbody > tr:hover {
    box-shadow: 0;
  }
}

.checkout-cart-index form tbody > tr:hover {
  box-shadow: 0 5px 1px 5px rgba(0, 0, 0, 0.15);
}

.checkout-cart-index tfoot td {
  text-align: center;
}

.checkout-cart-index .edit-link,
.checkout-cart-index tfoot button {
  background-color: #86933b;
  background-image: linear-gradient(0deg,#86933b 50%, #645d4e 51%, #645d4e 100%, transparent, transparent, transparent, transparent, transparent, transparent, transparent);
  background-position: 0 100%;
  background-repeat: repeat-x;
  background-size: 100% 210%;
  border: 0;
  transition: all .5s ease;
  color: #fff;
  display: inline-block;
  margin: 0.625rem auto;
  padding: 0.625rem 1.25rem;
  text-align: center;
  text-decoration: none;
  width: 200px;
}

.checkout-cart-index .edit-link:hover,
.checkout-cart-index tfoot button:hover {
  background-position: 0 0;
}

.checkout-cart-index .product-name > a {
  color: #86933b;
  text-align: left;
  text-decoration: none;
  transition: all .5s ease;
  padding-left: 10px;
}

.checkout-cart-index .product-name > a:hover {
  color: #645d4e;
  text-decoration: underline;
}

.checkout-cart-index .edit-link {
  width: auto;
}

.checkout-cart-index .product-image {
  display: block;
}

.checkout-cart-index .product-image img {
  width: 100%;
}

.checkout-cart-index .link-wishlist::before {
  content: '\f004';
  font-family: FontAwesome;
  padding-right: 10px;
}

.checkout-cart-index .btn-remove {
  color: #990000;
  margin-top: 10px;
}

.checkout-cart-index .cart-price {
  margin: 10px;
}

.checkout-cart-index .input-text.qty {
  text-align: right;
  margin: 15px 0;
}

@media (min-width: 48.125rem) {
  .checkout-cart-index .input-text.qty {
    margin: 0;
  }
}

@media (min-width: 30rem) {
  .checkout-cart-index .after-table {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 65.88078%;
  }
  .checkout-cart-index .after-table:last-child {
    margin-right: 0;
  }
}

@media (min-width: 30rem) {
  .checkout-cart-index .totals {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 31.76157%;
    margin-right: 0;
  }
  .checkout-cart-index .totals:last-child {
    margin-right: 0;
  }
}

.checkout-cart-index .totals table {
  width: 100%;
  float: right;
}

.checkout-cart-index .totals tr {
  border-bottom: 1px solid #86933b;
  padding: 10px 0;
  display: block;
}

.checkout-cart-index .accordin-shipping-body-l {
  margin-bottom: 20px;
}

@media (min-width: 48.125rem) {
  .checkout-cart-index .accordin-shipping-body-l {
    float: left;
    display: block;
    margin-right: 4.82916%;
    width: 47.58542%;
  }
  .checkout-cart-index .accordin-shipping-body-l:last-child {
    margin-right: 0;
  }
}

@media (min-width: 48.125rem) {
  .checkout-cart-index .accordin-shipping-body-r {
    float: left;
    display: block;
    margin-right: 4.82916%;
    width: 47.58542%;
    margin-right: 0;
  }
  .checkout-cart-index .accordin-shipping-body-r:last-child {
    margin-right: 0;
  }
}

.checkout-cart-index fieldset {
  margin: 0;
  padding: 0;
}

.checkout-cart-index .accordin-shipping-body-l .active,
.checkout-cart-index .accordin-shipping-body-l h2 {
  display: inline-block;
  height: 30px;
  line-height: 30px;
}

.checkout-cart-index .accordin-shipping-body-l .active:hover,
.checkout-cart-index .accordin-shipping-body-l h2:hover {
  color: #86933b;
  cursor: pointer;
}

.checkout-cart-index .accordin-shipping-body-l .active::after,
.checkout-cart-index .accordin-shipping-body-l h2::after {
  background-color: #86933b;
  content: '';
  display: inline-block;
  height: 1px;
  transition: all .5s ease;
  width: 0%;
}

.checkout-cart-index .accordin-shipping-body-l .active:hover::after,
.checkout-cart-index .accordin-shipping-body-l h2:hover::after {
  width: 100%;
}

.checkout-cart-index .accordin-shipping-body-l .active {
  color: #86933b;
}

.checkout-cart-index .accordin-shipping-body-l .active::after {
  width: 100%;
}

.checkout-cart-index .shipping {
  display: none;
}

.checkout-cart-index .shipping input {
  width: 70%;
  height: 30px;
  margin: 10px 0;
}

.checkout-cart-index select {
  width: 70%;
  height: 30px;
  margin: 10px 0;
}

.checkout-cart-index .checkout-types button,
.checkout-cart-index .checkout-types a,
.checkout-cart-index .buttons-set > button {
  background-color: #86933b;
  background-image: linear-gradient(0deg,#86933b 50%, #645d4e 51%, #645d4e 100%, transparent, transparent, transparent, transparent, transparent, transparent, transparent);
  background-position: 0 100%;
  background-repeat: repeat-x;
  background-size: 100% 210%;
  border: 0;
  transition: all .5s ease;
  color: #fff;
  display: inline-block;
  margin: 0.625rem auto;
  padding: 0.625rem 1.25rem;
  text-align: center;
  text-decoration: none;
}

.checkout-cart-index .checkout-types button:hover,
.checkout-cart-index .checkout-types a:hover,
.checkout-cart-index .buttons-set > button:hover {
  background-position: 0 0;
}

.checkout-cart-index .checkout-types,
.checkout-cart-index .a-right {
  text-align: right;
}

.checkout-cart-index .a-right.last {
  text-align: center;
}

.checkout-cart-index .sp-methods dt,
.checkout-cart-index .sp-methods input,
.checkout-cart-index .sp-methods label,
.checkout-cart-index .sp-methods dd {
  display: inline-block;
}

.checkout-cart-index .sp-methods input {
  width: auto;
  height: auto;
  margin: 0 10px;
}

.checkout-cart-index .region .select::after {
  display: none;
}

.checkout-onepage-index fieldset {
  margin: 0;
  padding: 0;
}

@media (min-width: 48.125rem) {
  .checkout-onepage-index .col-main {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 65.88078%;
  }
  .checkout-onepage-index .col-main:last-child {
    margin-right: 0;
  }
}

@media (min-width: 48.125rem) {
  .checkout-onepage-index .col-right.sidebar {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 31.76157%;
    margin-right: 0;
  }
  .checkout-onepage-index .col-right.sidebar:last-child {
    margin-right: 0;
  }
}

.checkout-onepage-index li {
  list-style-type: none;
}

.checkout-onepage-index .step-title > * {
  display: inline-block;
}

.checkout-onepage-index .step-title a {
  background-color: #86933b;
  background-image: linear-gradient(0deg,#86933b 50%, #645d4e 51%, #645d4e 100%, transparent, transparent, transparent, transparent, transparent, transparent, transparent);
  background-position: 0 100%;
  background-repeat: repeat-x;
  background-size: 100% 210%;
  border: 0;
  transition: all .5s ease;
  color: #fff;
  display: inline-block;
  float: right;
  margin: 0;
  padding: 0.625rem 1.25rem;
  text-align: center;
  text-decoration: none;
}

.checkout-onepage-index .step-title a:hover {
  background-position: 0 0;
}

.checkout-onepage-index .step-title .number {
  background-color: #86933b;
  border-radius: 50%;
  color: #fff;
  height: 30px;
  line-height: 30px;
  text-align: center;
  width: 30px;
}

.checkout-onepage-index .block-title {
  font-size: 1.2rem;
  margin: 27px 0;
  color: #86933b;
}

.checkout-onepage-index .control {
  margin: 15px 0;
}

.checkout-onepage-index .control input,
.checkout-onepage-index .control label {
  display: inline-block;
}

.checkout-onepage-index .required em {
  color: #990000;
}

.checkout-onepage-index .buttons-set > button {
  background-color: #86933b;
  background-image: linear-gradient(0deg,#86933b 50%, #645d4e 51%, #645d4e 100%, transparent, transparent, transparent, transparent, transparent, transparent, transparent);
  background-position: 0 100%;
  background-repeat: repeat-x;
  background-size: 100% 210%;
  border: 0;
  transition: all .5s ease;
  color: #fff;
  display: inline-block;
  margin: 0;
  padding: 0.625rem 1.25rem;
  text-align: center;
  text-decoration: none;
}

.checkout-onepage-index .buttons-set > button:hover {
  background-position: 0 0;
}

.checkout-onepage-index .back-link {
  -webkit-transform: translateY(-10%);
  transform: translateY(-10%);
}

.checkout-onepage-index .back-link small {
  display: none;
}

.checkout-onepage-index .back-link a {
  text-decoration: none;
  color: #86933b;
}

.checkout-onepage-index .back-link a::before {
  content: '\f104';
  font-family: FontAwesome;
  display: inline-block;
  margin-right: 5px;
  -webkit-transform: translateX(0%);
  transform: translateX(0%);
  transition: all .5s ease;
}

.checkout-onepage-index .back-link a:hover::before {
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}

.checkout-onepage-index .messages {
  margin: 20px 0;
}

.checkout-onepage-index .select {
  position: relative;
  max-width: 500px;
}

.checkout-onepage-index .select::after {
  display: inline-block;
  margin: 0;
  position: absolute;
  right: 3%;
  top: 35%;
  z-index: 1;
}

.checkout-onepage-index select {
  max-width: 500px;
  padding: 10px 20px 10px 0px;
  width: 100%;
}

.checkout-onepage-index input {
  max-width: 500px;
  padding: 10px 20px 10px 35px;
  width: 100%;
}

.checkout-onepage-index input[type="checkbox"],
.checkout-onepage-index input[type="radio"] {
  display: inline-block;
  width: auto;
  margin-right: 10px;
}

.checkout-onepage-index input:focus {
  color: #645d4e;
}

.checkout-onepage-index .input-box {
  height: 70px;
  position: relative;
}

.checkout-onepage-index .validation-advice {
  color: #990000;
  margin-top: 5px;
}

.checkout-onepage-index .name-wrapper::before {
  content: '\f007';
}

.checkout-onepage-index .company-wrapper::before {
  content: '\f1ad';
}

.checkout-onepage-index .phone-wrapper::before {
  content: '\f095';
}

.checkout-onepage-index .fax-wrapper::before {
  content: '\f1ac';
}

.checkout-onepage-index .zip-wrapper::before,
.checkout-onepage-index .state-wrapper::before,
.checkout-onepage-index .address-wrapper::before {
  content: '\f041';
}

.checkout-onepage-index .city-wrapper::before {
  content: '\f19c';
}

.checkout-onepage-index .card-wrapper::before {
  content: '\f09d';
}

.checkout-onepage-index .cc-wrapper::before {
  content: '\f20a';
}

.checkout-onepage-index .sp-methods > *,
.checkout-onepage-index .dt_method_checkmo > *,
.checkout-onepage-index .dt_method_ccsave > label {
  display: inline-block;
  margin: 0;
}

.checkout-onepage-index address {
  font-style: normal;
}

.checkout-onepage-index .complete {
  margin: 5px 0 10px;
}

.checkout-onepage-index .changelink > span {
  display: none;
}

.checkout-onepage-index .changelink > a {
  background-color: #86933b;
  background-image: linear-gradient(0deg,#86933b 50%, #645d4e 51%, #645d4e 100%, transparent, transparent, transparent, transparent, transparent, transparent, transparent);
  background-position: 0 100%;
  background-repeat: repeat-x;
  background-size: 100% 210%;
  border: 0;
  transition: all .5s ease;
  color: #fff;
  display: inline-block;
  float: right;
  margin-top: -5px;
  padding: 0.3125rem 0.625rem;
  text-align: center;
  text-decoration: none;
}

.checkout-onepage-index .changelink > a:hover {
  background-position: 0 0;
}

.checkout-onepage-index .cvv-what-is-this,
.checkout-onepage-index .btn-close > a {
  color: #86933b;
}

.checkout-review-table-wrapper tfoot tr > td {
  padding: 10px 0;
  margin: 10px 0;
}

.credit-card {
  /*--------------------
    Buttons
    --------------------*/
  /*--------------------
    Form
    --------------------*/
  /*--------------------
    Checkout
    --------------------*/
  /*--------------------
    Credit Card
    --------------------*/
}

.credit-card .btn {
  display: block;
  background: #bded7d;
  color: white;
  text-decoration: none;
  margin: 20px 0;
  padding: 15px 15px;
  border-radius: 5px;
  position: relative;
}

.credit-card .btn::after {
  content: '';
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: all .2s ease-in-out;
  box-shadow: inset 0 3px 0 transparent, 0 3px 3px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}

.credit-card .btn:hover::after {
  background: rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 3px 0 rgba(0, 0, 0, 0.2);
}

.credit-card .form fieldset {
  border: none;
  padding: 0;
  padding: 10px 0;
  position: relative;
  clear: both;
}

.credit-card .form fieldset.fieldset-expiration {
  float: left;
  width: 60%;
}

.credit-card .form fieldset.fieldset-expiration .select {
  width: 84px;
  margin-right: 12px;
  float: left;
}

.credit-card .form fieldset.fieldset-ccv {
  clear: none;
  float: right;
  width: 86px;
}

.credit-card .form fieldset label {
  display: block;
  text-transform: uppercase;
  font-size: 11px;
  color: rgba(0, 0, 0, 0.6);
  margin-bottom: 5px;
  font-weight: bold;
  font-family: Inconsolata;
}

.credit-card .form fieldset input,
.credit-card .form fieldset .select {
  width: 100%;
  height: 38px;
  color: #333333;
  padding: 10px;
  border-radius: 5px;
  font-size: 15px;
  outline: none !important;
  border: 1px solid rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.2);
}

.credit-card .form fieldset input.input-cart-number,
.credit-card .form fieldset .select.input-cart-number {
  width: 82px;
  display: inline-block;
  margin-right: 8px;
}

.credit-card .form fieldset input.input-cart-number:last-child,
.credit-card .form fieldset .select.input-cart-number:last-child {
  margin-right: 0;
}

.credit-card .form fieldset .select {
  position: relative;
}

.credit-card .form fieldset .select::after {
  content: '';
  border-top: 8px solid #222;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  position: absolute;
  z-index: 2;
  top: 14px;
  right: 10px;
  pointer-events: none;
}

.credit-card .form fieldset .select select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  position: absolute;
  padding: 0;
  border: none;
  width: 100%;
  outline: none !important;
  top: 6px;
  left: 6px;
  background: none;
}

.credit-card .form fieldset .select select :-moz-focusring {
  color: transparent;
  text-shadow: 0 0 0 #000;
}

.credit-card .form button {
  width: 100%;
  background: linear-gradient(180deg, #49a09b, #3d8291);
  text-transform: uppercase;
  font-weight: bold;
  border: none;
  box-shadow: none;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  margin-top: 90px;
}

.credit-card .form button .fa {
  margin-right: 6px;
}

.credit-card .checkout {
  margin: 50px auto 30px;
  position: relative;
  width: 400px;
}

.credit-card .credit-card-box {
  -webkit-perspective: 1000;
  perspective: 1000;
  width: 100%;
  height: 280px;
  -webkit-transform: translateX(0%);
  transform: translateX(0%);
}

.credit-card .credit-card-box:hover .flip,
.credit-card .credit-card-box.hover .flip {
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
}

.credit-card .credit-card-box .front,
.credit-card .credit-card-box .back {
  width: 100%;
  height: 250px;
  border-radius: 15px;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  background: linear-gradient(135deg, #bd6772, #53223f);
  position: absolute;
  color: #fff;
  font-family: Inconsolata;
  top: 0;
  left: 0;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.3);
}

.credit-card .credit-card-box .front::before,
.credit-card .credit-card-box .back::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: url("http://cdn.flaticon.com/svg/44/44386.svg") no-repeat center;
  background-size: cover;
  opacity: .05;
}

.credit-card .credit-card-box .flip {
  transition: 0.6s;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  position: relative;
}

.credit-card .credit-card-box .logo {
  position: absolute;
  top: 9px;
  right: 20px;
  width: 60px;
}

.credit-card .credit-card-box .logo img {
  -webkit-filter: invert(1);
  filter: invert(1);
  width: 100%;
  height: auto;
}

.credit-card .credit-card-box .front {
  z-index: 2;
  -webkit-transform: rotateY(0deg);
  transform: rotateY(0deg);
}

.credit-card .credit-card-box .back {
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
}

.credit-card .credit-card-box .back .logo {
  top: 185px;
}

.credit-card .credit-card-box .chip {
  position: absolute;
  width: 60px;
  height: 45px;
  top: 20px;
  left: 20px;
  background: linear-gradient(135deg, #ddccf0 0%, #d1e9f5 44%, #f8ece7 100%);
  border-radius: 8px;
}

.credit-card .credit-card-box .chip::before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  border: 4px solid rgba(128, 128, 128, 0.1);
  width: 80%;
  height: 70%;
  border-radius: 5px;
}

.credit-card .credit-card-box .strip {
  background: linear-gradient(135deg, #404040, #1a1a1a);
  position: absolute;
  width: 100%;
  height: 50px;
  top: 30px;
  left: 0;
}

.credit-card .credit-card-box .numberr {
  position: absolute;
  margin: 0 auto;
  top: 103px;
  left: 19px;
  font-size: 38px;
}

.credit-card .credit-card-box label {
  font-size: 10px;
  letter-spacing: 1px;
  text-shadow: none;
  text-transform: uppercase;
  font-weight: normal;
  opacity: 0.5;
  display: block;
  margin-bottom: 3px;
}

.credit-card .credit-card-box .card-holder,
.credit-card .credit-card-box .card-expiration-date {
  position: absolute;
  margin: 0 auto;
  top: 180px;
  left: 19px;
  font-size: 22px;
  text-transform: capitalize;
}

.credit-card .credit-card-box .card-expiration-date {
  text-align: right;
  left: auto;
  right: 20px;
}

.credit-card .credit-card-box .ccv {
  height: 36px;
  background: #fff;
  width: 91%;
  border-radius: 5px;
  top: 110px;
  left: 0;
  right: 0;
  position: absolute;
  margin: 0 auto;
  color: #000;
  text-align: right;
  padding: 10px;
}

.credit-card .credit-card-box .ccv label {
  margin: -25px 0 14px;
  color: #fff;
}

.fa {
  display: inline-block;
  font: normal normal normal 14px / 1 "FontAwesome";
  font-size: inherit;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: auto;
  -webkit-transform: translate(0, 0);
  transform: translate(0, 0);
}

.fa-twitter-square:before {
  content: "";
}

.fa-facebook-square:before {
  content: "";
}

.fa-google-plus-square:before {
  content: "";
}

.fa-youtube-square:before {
  content: "";
}

.fa-search:before {
  content: "";
}

.fa-shopping-cart:before {
  content: "";
}

.fa-navicon:before {
  content: "";
}

.fa-phone:before {
  content: "";
}

.fa-comments:before {
  content: "";
}

.fa-chevron-down:before {
  content: "";
}

.fa-chevron-up:before {
  content: "";
}

.fa-file-pdf-o:before {
  content: "";
}

.fa-th-large:before {
  content: "";
}

.fa-th:before {
  content: "";
}

.fa-th-list:before {
  content: "";
}

.fa-pencil:before {
  content: "";
}

.fa-times:before {
  content: "";
}

.fa-share-square:before {
  content: "";
}

.fa-refresh:before {
  content: "";
}

.fa-home:before {
  content: "";
}

.fa-angle-left:before {
  content: "";
}

.fa-angle-right:before {
  content: "";
}

.fa-envelope:before {
  content: "";
}

.fa-twitter:before {
  content: "";
}

.fa-facebook:before {
  content: "";
}

.fa-pinterest:before {
  content: "";
}

.fa-retweet:before {
  content: "";
}

.fa-heart:before {
  content: "";
}

.fa-2x {
  font-size: 2em;
}

.fa-3x {
  font-size: 3em;
}

.fa-4x {
  font-size: 4em;
}

.fa-5x {
  font-size: 5em;
}

.header-minicart {
  text-align: right;
}

.header-minicart .block-cart {
  display: none;
}

.header-minicart .block-cart li {
  list-style-type: none;
}

.header-minicart .block-cart.skip-active {
  width: 20rem;
  top: 2.5rem;
  background-color: #fff;
  border: solid 1px #c0bfbf;
  display: block;
  position: absolute;
  right: 0;
  z-index: 200;
}

.header-minicart .block-cart .info-wrapper {
  color: #000;
}

nav {
  position: relative;
}

nav::after {
  clear: both;
  content: '';
  display: table;
}

nav a {
  color: #645d4e;
  line-height: 2.6875rem;
}

nav ul,
nav .nav-container,
nav form {
  display: inline-block;
}

nav form {
  float: right;
}

nav ul {
  float: left;
  margin: 0;
  padding: 0;
}

nav ul li {
  display: inline-block;
  list-style-type: none;
  margin-right: 0.9375rem;
}

nav ul ul {
  float: none;
}

.dropdown-menu > ul {
  background-color: rgba(255, 255, 255, 0.5);
  display: none;
  height: 12.5rem;
  left: 0;
  max-width: 1200px;
  position: absolute;
  top: 3.9375rem;
  width: 100%;
}

@media screen and (max-width: 991px) {
  nav {
    display: none;
    text-align: center;
  }
  nav ul {
    display: block;
    float: none;
    text-align: center;
  }
  nav ul li {
    display: block;
    margin: 0;
  }
  nav form {
    float: none;
  }
  .dropdown-menu > ul {
    background-color: transparent;
    display: none;
    height: auto;
    max-width: 1200px;
    position: initial;
    text-align: center;
    width: 100%;
  }
}

.form-search button {
  background: none;
  border: 0;
  padding: 0.625rem;
  transition: all .5s ease;
}

.form-search button i {
  color: #c0bfbf;
}

.form-search input {
  background-color: transparent;
  border-bottom-color: transparent;
  border-left-color: transparent;
  border-top-color: transparent;
  margin-right: 1.25rem;
  padding: 0.625rem;
  transition: all .5s ease;
  width: 6.875rem;
}

.form-search input::-webkit-input-placeholder {
  color: #c0bfbf;
}

.form-search input::-moz-placeholder {
  color: #c0bfbf;
}

.form-search input:-moz-placeholder {
  color: #c0bfbf;
}

.form-search input:-ms-input-placeholder {
  color: #c0bfbf;
}

.form-search input:focus {
  border: 0.0625rem solid #b0aca5;
  border-radius: 0.3125rem;
  outline-color: transparent;
  outline-style: none;
  width: 19.375rem;
}

.form-search input:focus + button {
  background: #86933b;
  border-radius: 0.3125rem;
  padding: 0.625rem;
}

.form-search input:focus + button i {
  color: #fff;
}

@media screen and (max-width: 992px) {
  .nav-icon1 {
    cursor: pointer;
    height: 45px;
    margin: 35px auto;
    position: relative;
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    transition: all .5s ease-in-out;
    width: 60px;
  }
  .nav-icon1 span {
    background: #645d4e;
    border-radius: 9px;
    display: block;
    height: 9px;
    left: 0;
    opacity: 1;
    position: absolute;
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    transition: all .25s ease-in-out;
    width: 100%;
  }
  .nav-icon1 span:nth-child(1) {
    top: 0;
  }
  .nav-icon1 span:nth-child(2) {
    top: 1.125rem;
  }
  .nav-icon1 span:nth-child(3) {
    top: 2.25rem;
  }
  .nav-icon1.open span:nth-child(1) {
    top: 1.125rem;
    -webkit-transform: rotate(135deg);
    transform: rotate(135deg);
  }
  .nav-icon1.open span:nth-child(2) {
    left: -3.75rem;
    opacity: 0;
  }
  .nav-icon1.open span:nth-child(3) {
    top: 1.125rem;
    -webkit-transform: rotate(-135deg);
    transform: rotate(-135deg);
  }
}

.slick-slider {
  box-sizing: border-box;
  display: block;
  position: relative;
  -webkit-tap-highlight-color: transparent;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.slick-list {
  display: block;
  margin: 0 -0.625rem;
  overflow: hidden;
  padding: 0;
  position: relative;
}

.slick-list:focus {
  outline: none;
}

.slick-list.dragging {
  cursor: pointer;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.slick-track {
  display: block;
  left: 0;
  position: relative;
  top: 0;
}

.slick-track::before, .slick-track::after {
  content: '';
  display: table;
}

.slick-track::after {
  clear: both;
}

.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  display: none;
  float: left;
  height: 100%;
  margin: 0 0.625rem;
  min-height: 1px;
}

[dir="rtl"] .slick-slide {
  float: right;
}

.slick-slide img {
  display: block;
}

.slick-slide.slick-loading img {
  display: none;
}

.slick-slide.dragging img {
  pointer-events: none;
}

.slick-initialized .slick-slide {
  display: block;
}

.slick-loading .slick-slide {
  visibility: hidden;
}

.slick-vertical .slick-slide {
  border: 1px solid transparent;
  display: block;
  height: auto;
}

.slick-arrow {
  cursor: pointer;
  position: absolute;
  right: 0;
  top: -3.125rem;
}

.slick-arrow.slick-hidden {
  display: none;
}

.slick-prev {
  right: 3.125rem;
}

.single-item a {
  color: #645d4e;
  display: block;
  margin-top: 0.625rem;
  text-decoration: none;
}

.toolbar {
  margin-bottom: 3.125rem;
}

.pager {
  text-align: left;
}

@media (min-width: 48.125rem) {
  .pager {
    text-align: right;
  }
}

.pager .limiter {
  margin-bottom: 0.625rem;
}

.pager > * {
  display: block;
  text-align: left;
}

@media (min-width: 48.125rem) {
  .pager > * {
    display: inline-block;
    text-align: right;
  }
}

.pager > * > * {
  display: inline-block;
}

.sorter > * {
  display: inline-block;
}

.sorter > * > * {
  display: inline-block;
}

.sorter > * strong {
  color: #86933b;
}

.sorter > * a {
  color: #000;
  text-decoration: none;
}

.sorter > * .sort-by {
  display: block;
}

.pages > ol > li {
  background-color: #86933b;
  color: #fff;
  display: inline-block;
  padding: 0.3125rem 0.625rem;
}

.pages > ol > li .pager {
  text-align: right;
}

.pages > ol > li .pager > * {
  display: inline-block;
}

.pages > ol > li .pager > * > * {
  display: inline-block;
}

.pages > ol > li li {
  background-color: #86933b;
  color: #fff;
  display: inline-block;
  padding: 5px 10px;
}

.pages > ol > li li.current {
  color: #645d4e;
}

.pages > ol > li a {
  color: #fff;
  text-decoration: none;
}

.pages > ol > li a i {
  font-size: .9rem;
}

.pages > ol > li i {
  font-size: .9rem;
}

.pages > ol > li .sorter > * {
  display: inline-block;
}

.pages > ol > li .sorter > * > * {
  display: inline-block;
}

.pages > ol > li .sorter strong {
  color: #86933b;
}

.pages > ol > li .sorter a {
  color: #000;
  text-decoration: none;
}

.pages > ol > li .sorter .sort-by {
  display: block;
}

.pages > ol > li .sorter .sort-by a {
  display: none;
}

.pages > ol > li .sorter .sort-by select {
  -webkit-appearance: initial;
  -moz-appearance: initial;
  appearance: initial;
  border-radius: 0;
  padding: 0.3125rem 1.25rem 0.3125rem 0.3125rem;
}

.pages > ol > li .sorter .sort-by select::after {
  content: '\25bc';
}

.pages > ol > li.current {
  color: #645d4e;
}

select {
  -webkit-appearance: initial;
  -moz-appearance: initial;
  appearance: initial;
  background-color: #86933b;
  border-radius: 0;
  color: #fff;
  padding: 0.3125rem 2.1875rem 0.3125rem 0.3125rem;
}

.select::after {
  color: #fff;
  content: '\25bc';
  font-size: .9rem;
  margin-left: -1.5625rem;
  margin-right: 1.5625rem;
  pointer-events: none;
  z-index: -1;
}
