@media screen and (max-width: 992px) {
    .nav-icon1 {
        cursor: pointer;
        height: 45px;
        margin: 35px auto;
        position: relative;
        transform: rotate(0deg);
        transition: all .5s ease-in-out;
        width: 60px;

        span {
            background: map-get($brand, 'brown');
            border-radius: 9px;
            display: block;
            height: 9px;
            left: 0;
            opacity: 1;
            position: absolute;
            transform: rotate(0deg);
            transition: all .25s ease-in-out;
            width: 100%;

            &:nth-child(1) {
                top: 0;
            }

            &:nth-child(2) {
                top: rem(18px);
            }

            &:nth-child(3) {
                top: rem(36px);
            }

        }

        &.open span:nth-child(1) {
            top: rem(18px);
            transform: rotate(135deg);
        }

        &.open span:nth-child(2) {
            left: rem(-60px);
            opacity: 0;
        }

        &.open span:nth-child(3) {
            top: rem(18px);
            transform: rotate(-135deg);
        }
    }
}

