nav {
    @include clear;
    position: relative;

    a {
        color: map-get($brand, 'brown');
        line-height: rem(43px);
    }

    ul,
    .nav-container,
    form {
        display: inline-block;
    }

    form {
        float: right;
    }

    ul {
        float: left;
        margin: 0;
        padding: 0;

        li {
            display: inline-block;
            list-style-type: none;
            margin-right: rem(15px);
        }

        ul {
            float: none;
        }
    }
}

.dropdown-menu > ul {
    background-color: rgba(map-get($color, 'white'), .5);
    display: none;
    height: rem(200px);
    left: 0;
    max-width: 1200px;
    position: absolute;
    top: rem(63px);
    width: 100%;
}

@media screen and (max-width: 991px) {
    nav {
        display: none;
        text-align: center;

        ul {
            display: block;
            float: none;
            text-align: center;

            li {
                display: block;
                margin: 0;
            }
        }

        form {
            float: none;
        }
    }

    .dropdown-menu > ul {
        background-color: transparent;
        display: none;
        height: auto;
        max-width: 1200px;
        position: initial;
        text-align: center;
        width: 100%;
    }
}
