.header-minicart {
    text-align: right;

    .block-cart {
        display: none;

        li {
            list-style-type: none;
        }

        &.skip-active {
            @include rem(width, 320px);
            @include rem(top, 40px);
            background-color: map-get($color, 'white');
            border: solid 1px map-get($color, 'grey');
            display: block;
            position: absolute;
            right: 0;
            z-index: 200;
        }

        .info-wrapper {
            color: map-get($color, 'black');
        }
    }
}
