.form-search {
    button {
        background: none;
        border: 0;
        padding: rem(10px);
        transition: all .5s ease;

        i {
            color: map-get($color, 'grey');
        }
    }

    input {
        background-color: transparent;
        border-bottom-color: transparent;
        border-left-color: transparent;
        border-top-color: transparent;
        margin-right: rem(20px);
        padding: rem(10px);
        transition: all .5s ease;
        width: rem(110px);

        @include placeholder {
            color: map-get($color, 'grey');
        }

        &:focus {
            border: rem(1px) solid map-get($brand, 'light-brown');
            border-radius: rem(5px);
            outline-color: transparent;
            outline-style: none;
            width: rem(310px);

            + button {
                background: map-get($brand, 'green');
                border-radius: rem(5px);
                padding: rem(10px);

                i {
                    color: map-get($color, 'white');
                }
            }
        }
    }
}
