// Slider

.slick-slider {
    box-sizing: border-box;
    display: block;
    position: relative;
    -webkit-tap-highlight-color: transparent;
    touch-action: pan-y;
    user-select: none;
}

.slick-list {// the parent
    display: block;
    margin: 0 rem(-10px);
    overflow: hidden;
    padding: 0;
    position: relative;

    &:focus {
        outline: none;
    }

    &.dragging {
        cursor: pointer;
    }
}

.slick-slider .slick-track,
.slick-slider .slick-list {
    transform: translate3d(0, 0, 0);
}

.slick-track {
    display: block;
    left: 0;
    position: relative;
    top: 0;

    &::before,
    &::after {
        content: '';
        display: table;
    }

    &::after {
        clear: both;
    }

    .slick-loading & {
        visibility: hidden;
    }
}

.slick-slide {
    display: none;
    float: left;
    height: 100%;
    margin: 0 rem(10px);
    min-height: 1px;

    [dir="rtl"] & {
        float: right;
    }

    img {
        display: block;
    }

    &.slick-loading img {
        display: none;
    }

    &.dragging img {
        pointer-events: none;
    }

    .slick-initialized & {
        display: block;
    }

    .slick-loading & {
        visibility: hidden;
    }

    .slick-vertical & {
        border: 1px solid transparent;
        display: block;
        height: auto;
    }
}

.slick-arrow {
    cursor: pointer;
    position: absolute;
    right: 0;
    top: rem(-50px);

    &.slick-hidden {
        display: none;
    }
}

.slick-prev {
    right: rem(50px);
}

.single-item {
    a {
        color: map-get($brand, 'brown');
        display: block;
        margin-top: rem(10px);
        text-decoration: none;
    }
}
