.toolbar {
    margin-bottom: rem(50px);
}

.pager {
    text-align: left;

    @include md {
        text-align: right;
    }

    .limiter {
        margin-bottom: rem(10px);
    }

    > * {
        display: block;
        text-align: left;

        @include md {
            display: inline-block;
            text-align: right;
        }

        > * {
            display: inline-block;
        }
    }
}

.sorter > * {
    display: inline-block;

    > * {
        display: inline-block;
    }

    strong {
        color: map-get($brand, 'green');
    }

    a {
        color: map-get($color, 'black');
        text-decoration: none;
    }

    .sort-by {
        display: block;
    }
}

.pages > ol > li {
    background-color: map-get($brand, 'green');
    color: map-get($color, 'white');
    display: inline-block;
    padding: rem(5px) rem(10px);

    .pager {
        text-align: right;

        > * {
            display: inline-block;


            > * {
                display: inline-block;
            }
        }
    }

    li {
        background-color: map-get($brand, 'green');
        color: map-get($color, 'white');
        display: inline-block;
        padding: 5px 10px;

        &.current {
            color: map-get($brand, 'brown');
        }
    }

    a {
        color: map-get($color, 'white');
        text-decoration: none;

        i {
            font-size: .9rem;
        }
    }

    i {
        font-size: .9rem;
    }

    .sorter {
        > * {
            display: inline-block;

            > * {
                display: inline-block;
            }
        }

        strong {
            color: map-get($brand, 'green');
        }

        a {
            color: map-get($color, 'black');
            text-decoration: none;
        }

        .sort-by {
            display: block;

            a {
                display: none;
            }

            select {
                appearance: initial;
                border-radius: 0;
                padding: rem(5px) rem(20px) rem(5px) rem(5px);

                &::after {
                    content: '\25bc';
                }

            }
        }
    }

    &.current {
        color: map-get($brand, 'brown');
    }
}

select {
    appearance: initial;
    background-color: rgba(map-get($brand, 'green'), 1);
    border-radius: 0;
    color: map-get($color, 'white');
    padding: rem(5px) rem(35px) rem(5px) rem(5px);
}

.select::after {
    color: map-get($color, 'white');
    content: '\25bc';
    font-size: .9rem;
    margin-left: rem(-25px);
    margin-right: rem(25px);
    pointer-events: none;
    z-index: -1;
}
