footer {
    background-color: map-get($brand, 'footer');
    clear: both;

    ul {
        text-align: center;
    }

    li {
        display: inline-block;
        list-style-type: none;
    }

    hr {
        background-color: map-get($brand, 'brown');
        margin: 0;
    }

    a,
    p {
        color: map-get($color, 'white');
        text-decoration: none;
    }

    p:last-of-type {
        text-align: right;
    }

    p:nth-of-type(2) {
        text-align: center;
    }
}

.footer-first-menu {
    li {
        margin-right: 15px;
    }

    a {
        display: block;
        font-size: 1.05rem;
        margin: rem(15px) 0 rem(-1px);
        text-transform: uppercase;
        transition: all .5s ease;

        &::after {
            background-color: map-get($color, 'white');
            content: '';
            display: block;
            height: 1px;
            margin-top: 15px;
            transition: all .5s ease;
            width: 100%;
        }

        &:hover::after {
            background-color: map-get($brand, 'green');
        }
    }
}

.footer-second-menu {
    li > a::after {
        content: '|';
        padding: 0 5px;
    }

    li:last-child > a::after {
        content: '';
    }
}

.footer-menu-last {
    li:first-of-type {
        float: left;
    }

    li:last-of-type {
        float: right;
    }
}
