*,
*::after,
*::before {
    box-sizing: border-box;
}

ul {
    margin: 0;
}

.container {
    margin: 0 auto;
    max-width: 1200px;
}

.row {
    padding: 0 15px;
    width: 100%;

    .row {
        padding: 0;
    }

    &::after {
        clear: both;
        content: '';
        display: table;
   }

    &::before {
        clear: both;
        content: '';
        display: table;
    }
}

@for $i from 1 through 12 {

    .column-xs-#{$i} {
        @include span-columns($i)
    }

    .column-sm-#{$i} {
        @include media(769px) {
            @include span-columns($i)
        }
    }

    .column-md-#{$i} {
        @include media(992px) {
            @include span-columns($i)
        }
    }

    .column-lg-#{$i} {
        @include media(1200px) {
            @include span-columns($i)
        }
    }
}

.grid {

    > * {
        @include span-columns(12);

        @include sm(true) {
            @include span-columns(6);

            &:nth-child(2n) {
                @include omega;
            }
        }

        @include md(true) {
            @include span-columns(4);

            &:nth-child(3n) {
                @include omega;
            }
        }

        @include lg(true) {
            @include span-columns(3);

            &:nth-child(4n) {
                @include omega;
            }
        }


    }

}
