header {
    background: url('http://eskipaper.com/images/high-resolution-wallpaper-3.jpg') no-repeat center center;
    background-size: cover;
    height: 100vh;

    .green-row {
        background-color: map-get($brand, 'green');
        color: map-get($color, 'white');
        padding: rem(10px) 0;
    }

    hr {
        background-color: map-get($brand, 'light-brown');
    }

    .breadcrumbs {
        text-align: left;

        strong {
            font-weight: 400;
        }
    }

    a {
        color: map-get($color, 'white');
        text-decoration: none;
        text-transform: uppercase;
    }

    .logo {
        margin: rem(50px) 0;
        text-align: center;
    }

    .transparent-layer {
        background-color: rgba(map-get($color, 'white'), .7);
    }
}
