/// Mixin to output breakpoint given a variable, sass map reference or value
///
/// @group Media Queries
/// @access public
///
/// @param {Length} $min - Value to assign to min-width within media query
/// @param {Length} $max - Value to assign to max-width within media query
///
/// @example scss - Usage
/// .foo {
///   @include breakpoint(100px) {
///      width: 50px;
///   }
/// }
///
/// .bar {
///   @include breakpoint(200px, 400px) {
///      width: 50px;
///   }
/// }
///
/// @example css - CSS output
///
///  @media (min-width: 100px) {
///    .foo {
///       width: 50px; } }
///
///  @media (min-width: 200px) and (max-width: 400px) {
///    .bar {
///       width: 50px; } }
///

@mixin breakpoint($min: 0, $max: 0) {
    $type: type-of($min);

    @if $type == string {

    } @else if $type == number {
        $query: 'all' !default;
        @if $min != 0 and $max != 0 {
            $query: '(min-width: #{$min}) and (max-width: #{$max})';
        }  @else if $min != 0 and $max == 0 {
            $query: '(min-width: #{$min})';
        }  @else if $min == 0 and $max != 0 {
            $query: '(max-width: #{$max})';
        }

        @media #{$query} {
            @content;
        }
    }

}

@mixin sm($clearrules: false) {
    @if ($clearrules == false) {
        @include breakpoint(map-get($breakpoints, 'small')) {
            @content;
        }
    } @else {
        @include breakpoint(map-get($breakpoints, 'small'), map-get($breakpoints, 'medium') - rem(1px)) {
            @content;
        }
    }
}

@mixin md($clearrules: false) {
    @if ($clearrules == false) {
        @include breakpoint(map-get($breakpoints, 'medium')) {
            @content;
        }
    } @else {
        @include breakpoint(map-get($breakpoints, 'medium'), map-get($breakpoints, 'large') - rem(1px)) {
            @content;
        }
    }
}

@mixin lg($clearrules: false) {
    @if ($clearrules == false) {
        @include breakpoint(map-get($breakpoints, 'large')) {
            @content;
        }
    } @else {
        @include breakpoint(map-get($breakpoints, 'large')) {
            @content;
        }
    }
}
