@mixin flat-button ($c1, $c2) {
    @include linear-gradient(0deg, $c1 50%, $c2 51%, $c2 100%, transparent, transparent, transparent, transparent, transparent, transparent, transparent);

    background-position: 0 100%;
    background-repeat: repeat-x;
    background-size: 100% 210%;
    border: 0;
    transition: all .5s ease;

    &:hover {
        background-position: 0 0;
    }
}
