@mixin svg($src, $width, $height:auto) {
    background-image: url('../images/assets/' + $src);
    background-position: center center;
    background-size: $width $height;
    background-repeat: no-repeat;
    display: inline-block;
    height: $height;
    width: $width;
    vertical-align: middle;
}
