html {
    font-size: $base-font-size;
}

body {
    color: map-get($brand, 'brown');
    font: normal 100% / 14px $base-font-face;
    //text-rendering: optimizeLegibility;
}

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

video {
    height: auto;
    width: 100%;
}

img {
    display: inline-block;
    height: auto;
    max-width: 100%;
}

hr {
    @include clear();
    background-color: map-get($brand, 'light-brown');
    border: 0;
    display: block;
    height: 1px;
    width: 100%;
}

label {
    @include rem(margin-bottom, 5px);
    display: block;
}

form {
    @include rem(margin, 0 0 20px);
}

fieldset {
    @include clear();
    border: 0;

    ul {
        list-style: none;
        margin: 0;
        padding: 0;
    }
}


iframe,
object,
embed {
    max-width: 100%;
}

ul {
    @include rem(margin, 0);
    padding: 0;
}

ol {
    @include rem(margin, 0);
    padding: 0;
}

blockquote,
q {
    quotes: '\201C""\201D""\2018""\2019';

    &::before {
        content: open-quote;
    }

    &::after {
        content: close-quote;
    }

    p {
        display: inline;
    }
}

strong {
    font-weight: bold;
}

em {
    font-style: italic;
}

.a-right {
    text-align: right;
}

.a-center {
    text-align: center;
}

.a-left {
    text-align: left;
}

.f-right {
    float: right;
}

.f-left {
    float: left;
}

.no-display {
    display: none;
}

.hideme-fadein {
    opacity: 0;
    transition: all .5s ease;
}

.fadein-after {
    opacity: 1;
}

.link-learn {
    display: block;
}

.link-wishlist,
.link-compare,
.btn-cart {
    @include flat-button(map-get($brand, 'green'), map-get($brand, 'brown'));
    color: map-get($color, 'white');
    display: inline-block;
    margin: rem(10px) auto;
    padding: rem(10px) rem(20px);
    text-align: center;
    text-decoration: none;
}
