.catalog-product-view {
    .product-img-box {
        @include md {
            @include span-columns(6 of 12);
        }
    }

    .product-shop {
        @include md {
            @include span-columns(6 of 12);
            @include omega;
        }
    }

    .product-image {
        @include md {
            @include span-columns(5 of 6);
            @include shift(1);
        }
    }

    .more-views {
        margin-top: rem(10px);

        @include md {
            @include span-columns(1 of 6);
            @include shift(-6);
        }

        h2 {
            display: none;
        }

        li {
            list-style-type: none;
        }
    }

    .availability.in-stock {
        span {
            color: map-get($brand, 'green');
        }
    }

    .add-to-cart > input {
        padding: rem(5px);
    }

    .short-description {
        margin-bottom: rem(20px);
    }

    .price {
        display: block;
        font-size: 2rem;
        margin: rem(20px) 0;
    }

    .share-with {
        font-size: 1.2rem;
        margin-top: rem(20px);

        ul {
            display: inline-block;
            margin-left: rem(10px);
        }

        li {
            display: inline-block;
            list-style-type: none;
            margin-left: rem(10px);
        }

        a {
            background-position: 0 100%;
            color: map-get($color, 'grey');
            transition: all .5s ease;

            &:hover {
                background-position: 0 0;
                color: map-get($brand, 'green');

            }
        }
    }

    .product-tabs {
        margin-top: rem(50px);

        li {
            list-style-type: none;

            span::after {
                content: '+';
                padding-left: 20px;
            }

            &.active span::after {
                content: '-';
                padding-left: 20px;

            }
        }

        .active > a::after {
            width: 15%;
        }

        a {
            color: map-get($brand, 'brown');
            display: block;
            font-size: 1.5rem;
            margin-bottom: rem(36px);
            padding: rem(10px) 0;
            text-decoration: none;

            &::before {
                background-color: map-get($brand, 'green');
                content: '';
                display: block;
                height: 1px;
                margin-bottom: rem(20px);
                width: 100%;
            }

            &::after {
                background-color: map-get($brand, 'green');
                content: '';
                display: block;
                height: 3px;
                margin-top: rem(-36px);
                transition: all .5s ease;
                width: 0%;
            }

            &:hover::after {
                width: 15%;
            }
        }
    }

    .product-tabs-content {
        margin: rem(60px) 0;

        &::after,
        &::before {
            background-color: map-get($brand, 'green');
            content: '';
            display: block;
            height: 1px;
            margin: rem(20px) 0;
            width: 100%;
        }

        h2 {
            display: none;
        }

        .label {
            display: block;
            margin: 5px 10px 5px 0;

            &::after {
                content: ':';
            }
        }
    }
}
