.catalog-category-view {
    .grid {
        li {
            list-style-type: none;
        }
    }

    a {
        text-decoration: none;

        &:hover {
            text-decoration: underline;
        }
    }

    .actions {
        text-align: center;
    }

}


.products-grid {
    .item {
        box-shadow: 0 1px 3px rgba(map-get($color, 'black'), .15);
        padding: rem(20px);
        transition: all .5s ease;

        &:hover {
            box-shadow: 0 5px 1px 5px rgba(map-get($color, 'black'), .15);
        }
    }

    .product-name > a,
    .link-learn {
        color: map-get($brand, 'brown');
        text-decoration: none;
    }

    .add-to-links > li {
        display: inline-block;
        margin-right: 10px;
    }

    .link-wishlist,
    .link-compare {
        display: inline-block;
        width: auto;
    }
}

.item {
    margin-bottom: rem(50px);

    .separator {
        display: none;
    }

    .wrapper-on-hover {
        position: relative;

        .desc {
            background-color: rgba(map-get($color, 'black'), .8);
            color: map-get($color, 'white');
            height: 0;
            left: 0;
            opacity: 0;
            padding: rem(20px);
            position: absolute;
            top: 0;
            transition: all .5s ease;
            width: 100%;
        }


    }

    &:hover {
        .wrapper-on-hover .desc {
            height: 100%;
            opacity: 1;
        }
    }
}

.products-list {
    text-align: center;


    @include md {
        text-align: left;

        .add-to-links {
            display: inline-block;

            li {
                display: inline-block;
                margin-left: rem(20px);
            }
        }

        > li > div:nth-child(2) {
            text-align: right;
        }

        .price-box {
            font-size: 2rem;
            font-weight: 700;
            margin-top: rem(30px);
            text-align: right;
        }
    }

    .add-to-links > li {
        display: inline-block;
    }

    .link-wishlist {
        span {
            display: none;

            @include md {
                display: initial;
            }
        }

        i {
            display: inline-block;

            @include md {
                display: none;
            }
        }
    }

    .link-compare {
        span {
            display: none;

            @include md {
                display: initial;
            }
        }

        i {
            display: inline-block;

            @include md {
                display: none;
            }
        }
    }

    .product-name > a,
    .link-learn {
        color: map-get($brand, 'brown');
        text-decoration: none;
    }

    .desc {
        margin: 0 auto;
        max-width: rem(300px);

        @include md {
            max-width: 100%;
        }
    }

    .item {
        box-shadow: 0 1px 3px rgba(map-get($color, 'black'), .15);
        margin: rem(20px) auto;
        max-width: 400px;
        padding: rem(20px);
        transition: all .5s ease;

        @include md {
            max-width: 100%;
        }

        &:hover {
            box-shadow: 0 5px 1px 5px rgba(map-get($color, 'black'), .15);
        }
    }

    li {
        list-style-type: none;
    }

}

.btn-cart {
    width: auto;

    @include md {
        width: 170px;
    }
}
