.checkout-cart-index {
    li {
        list-style-type: none;
    }

    table {
        @include md {
            width: 100%;
        }

        margin: 0 auto;
        width: 50%;
        text-align: center;
    }

    thead {
        @include md {
            display: table-header-group;
        }

        background-color: map-get($brand, 'green');
        display: none;

        th {
            color: map-get($color, 'white');
            font-weight: 400;
            padding: 10px 0;
        }
    }

    td {
        display: block;
        width: 100%;
    }

    @include md {
        td {
            display: table-cell;
            width: 14.5%;
        }
    }

    form tbody >tr {
        @include md {
            display: table-row;

            &:hover {
                box-shadow: 0;
            }
        }

        box-shadow: 0 1px 3px rgba(map-get($color, 'black'), .15);
        display: block;
        margin: 10px auto;
        padding: 10px 0;

        &:hover {
            box-shadow: 0 5px 1px 5px rgba(map-get($color, 'black'), .15);
        }
    }

    tfoot td {
        text-align: center;
    }
    .edit-link,
    tfoot button {
        @include flat-button(map-get($brand, 'green'), map-get($brand, 'brown'));
        color: map-get($color, 'white');
        display: inline-block;
        margin: rem(10px) auto;
        padding: rem(10px) rem(20px);
        text-align: center;
        text-decoration: none;
        width: 200px;
    }

    .product-name > a {
        color: map-get($brand, 'green');
        text-align: left;
        text-decoration: none;
        transition: all .5s ease;
        padding-left: 10px;

        &:hover {
            color: map-get($brand, 'brown');
            text-decoration: underline;
        }
    }

    .edit-link {
        width: auto;
    }

    .product-image {
        display: block;

        img {
            width: 100%;
        }
    }

    .link-wishlist {
        &::before {
            content: '\f004';
            font-family: FontAwesome;
            padding-right: 10px;
        }
    }

    .btn-remove {
        color: map-get($color, 'red');
        margin-top: 10px;
    }

    .cart-price {
        margin: 10px;
    }

    .input-text.qty {
        @include md {
            margin: 0;
        }

        text-align: right;
        margin: 15px 0;
    }

    .after-table {
        @include sm {
            @include span-columns(8);
        }
    }

    .totals {
        @include sm {
            @include span-columns(4);
            @include omega;
        }

        table {
            width: 100%;
            float: right;
        }

        tr {
            border-bottom: 1px solid map-get($brand, 'green');
            padding: 10px 0;
            display: block;
        }
    }

    .accordin-shipping-body-l {
        @include md {
            @include span-columns(3 of 6);
        }

        margin-bottom: 20px;
    }

    .accordin-shipping-body-r {
        @include md {
            @include span-columns(3 of 6);
            @include omega;
        }
    }

    fieldset {
        margin: 0;
        padding: 0;
    }

    .accordin-shipping-body-l .active,
    .accordin-shipping-body-l h2{
        display: inline-block;
        height: 30px;
        line-height: 30px;

        &:hover{
            color: map-get($brand, 'green');
            cursor: pointer;
        }

        &::after {
            background-color: map-get($brand, 'green');
            content: '';
            display: inline-block;
            height: 1px;
            transition: all .5s ease;
            width: 0%;
        }

        &:hover::after {
            width: 100%;
        }
    }

    .accordin-shipping-body-l .active{
        color: map-get($brand, 'green');

        &::after {
            width: 100%;
        }
    }

    .shipping {
        display: none;

        input {
            width: 70%;
            height: 30px;
            margin: 10px 0;
        }
    }

    select {
        width: 70%;
        height: 30px;
        margin: 10px 0;
    }

    .checkout-types button,
    .checkout-types a,
    .buttons-set > button {
        @include flat-button(map-get($brand, 'green'), map-get($brand, 'brown'));
        color: map-get($color, 'white');
        display: inline-block;
        margin: rem(10px) auto;
        padding: rem(10px) rem(20px);
        text-align: center;
        text-decoration: none;
    }

    .checkout-types,
    .a-right {
        text-align: right;
    }

    .a-right.last {
        text-align: center;
    }

    .sp-methods {
        dt,
        input,
        label,
        dd {
            display: inline-block;
        }

        input {
            width: auto;
            height: auto;
            margin: 0 10px;
        }
    }

    .region .select::after {
        display: none;
    }
}
