.checkout-onepage-index {
    fieldset {
        margin: 0;
        padding: 0;
    }

    .col-main {
        @include md {
            @include span-columns(8);
        }
    }

    .col-right.sidebar {
        @include md {
            @include span-columns(4);
            @include omega;
        }
    }

    li {
        list-style-type: none;
    }

    .step-title {
        > * {
            display: inline-block;
        }

        a {
            @include flat-button(map-get($brand, 'green'), map-get($brand, 'brown'));
            color: map-get($color, 'white');
            display: inline-block;
            float: right;
            margin: 0;
            padding: rem(10px) rem(20px);
            text-align: center;
            text-decoration: none;
        }

        .number {
            background-color: map-get($brand, 'green');
            border-radius: 50%;
            color: map-get($color, 'white');
            height: 30px;
            line-height: 30px;
            text-align: center;
            width: 30px;
        }
    }

    .block-title {
        font-size: 1.2rem;
        margin: 27px 0;
        color: map-get($brand, 'green');
    }

    .control {
        margin: 15px 0;

        input,
        label {
            display: inline-block;
        }

    }

    .required em{
        color: map-get($color, 'red');
    }

    .buttons-set > button {
        @include flat-button(map-get($brand, 'green'), map-get($brand, 'brown'));
        color: map-get($color, 'white');
        display: inline-block;
        margin: 0;
        padding: rem(10px) rem(20px);
        text-align: center;
        text-decoration: none;
    }

    .back-link {
        transform: translateY(-10%);

        small {
            display: none;
        }

        a {
            text-decoration: none;
            color: map-get($brand, 'green');
        }

        a::before {
            content: '\f104';
            font-family: FontAwesome;
            display: inline-block;
            margin-right: 5px;
            transform: translateX(0%);
            transition: all .5s ease;
        }

        a:hover::before {
            transform: translateX(-50%);
        }
    }

    .messages {
        margin: 20px 0;
    }

    .select {
        position: relative;
        max-width: 500px;

        &::after {
            display: inline-block;
            margin: 0;
            position: absolute;
            right: 3%;
            top: 35%;
            z-index: 1;
        }
    }

    select {
        max-width: 500px;
        padding: 10px 20px 10px 0px;
        width: 100%;
    }

    input{
        max-width: 500px;
        padding: 10px 20px 10px 35px;
        width: 100%;
    }

    input[type="checkbox"],
    input[type="radio"] {
        display: inline-block;
        width: auto;
        margin-right: 10px;
    }

    input:focus {
        color: map-get($brand, 'brown');
    }

    .input-box {
        height: 70px;
        position: relative;
    }

    .validation-advice {
        color: map-get($color, 'red');
        margin-top: 5px;
    }

    .name-wrapper::before {
        @extend %input-wrapper;
        content: '\f007';
    }

    .company-wrapper::before {
        @extend %input-wrapper;
        content: '\f1ad';
    }

    .phone-wrapper::before {
        @extend %input-wrapper;
        content: '\f095';
    }

    .fax-wrapper::before {
        @extend %input-wrapper;
        content: '\f1ac';
    }

    .zip-wrapper::before,
    .state-wrapper::before,
    .address-wrapper::before {
        @extend %input-wrapper;
        content: '\f041';
    }

    .city-wrapper::before {
        @extend %input-wrapper;
        content: '\f19c';
    }

    .card-wrapper::before {
        @extend %input-wrapper;
        content: '\f09d';
    }

    .cc-wrapper::before {
        @extend %input-wrapper;
        content: '\f20a';
    }

    .sp-methods > *,
    .dt_method_checkmo > *,
    .dt_method_ccsave > label{
        display: inline-block;
        margin: 0;
    }

    address {
        font-style: normal;
    }

    .complete {
        margin: 5px 0 10px;
    }

    .changelink > span {
        display: none;
    }

    .changelink > a {
        @include flat-button(map-get($brand, 'green'), map-get($brand, 'brown'));
        color: map-get($color, 'white');
        display: inline-block;
        float: right;
        margin-top: -5px;
        padding: rem(5px) rem(10px);
        text-align: center;
        text-decoration: none;
    }

    .cvv-what-is-this,
    .btn-close > a {
        color: map-get($brand, 'green');
    }

}
.checkout-review-table-wrapper {
    tfoot {
        tr > td {
            padding: 10px 0;
            margin: 10px 0;
        }
    }
}

.credit-card {
    /*--------------------
    Buttons
    --------------------*/
    .btn {
        display: block;
        background: hsl(86, 76%, 71%);
        color: hsl(0, 0, 100);
        text-decoration: none;
        margin: 20px 0;
        padding: 15px 15px;
        border-radius: 5px;
        position: relative;

        &::after {
            content: '';
            position: absolute;
            z-index: 1;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            transition: all .2s ease-in-out;
            box-shadow: inset 0 3px 0 hsla(0, 0, 0, 0), 0 3px 3px hsla(0, 0, 0, .2);
            border-radius: 5px;
        }

        &:hover::after {
            background: hsla(0, 0, 0, 0.1);
            box-shadow: inset 0 3px 0 hsla(0, 0, 0, 0.2);
        }

    }

    /*--------------------
    Form
    --------------------*/
    .form {

        fieldset {
            border: none;
            padding: 0;
            padding: 10px 0;
            position: relative;
            clear: both;

            &.fieldset-expiration {
                float: left;
                width: 60%;

                & .select {
                    width: 84px;
                    margin-right: 12px;
                    float: left;
                }
            }

            &.fieldset-ccv {
                clear: none;
                float: right;
                width: 86px;
            }

            label {
                display: block;
                text-transform: uppercase;
                font-size: 11px;
                color: hsla(0, 0, 0, .6);
                margin-bottom: 5px;
                font-weight: bold;
                font-family: Inconsolata;
            }

            input,
            .select {
                width: 100%;
                height: 38px;
                color: hsl(0, 0, 20);
                padding: 10px;
                border-radius: 5px;
                font-size: 15px;
                outline: none!important;
                border: 1px solid hsla(0, 0, 0, 0.3);
                box-shadow: inset 0 1px 4px hsla(0, 0, 0, 0.2);

                &.input-cart-number {
                    width: 82px;
                    display: inline-block;
                    margin-right: 8px;

                    &:last-child {
                        margin-right: 0;
                    }
                }
            }

            .select {
                position: relative;

                &::after {
                    content: '';
                    border-top: 8px solid #222;
                    border-left: 4px solid transparent;
                    border-right: 4px solid transparent;
                    position: absolute;
                    z-index: 2;
                    top: 14px;
                    right: 10px;
                    pointer-events: none;
                }

                select {
                    appearance: none;
                    position: absolute;
                    padding: 0;
                    border: none;
                    width: 100%;
                    outline: none!important;
                    top: 6px;
                    left: 6px;
                    background: none;

                    :-moz-focusring {
                        color: transparent;
                        text-shadow: 0 0 0 #000;
                    }

                }
            }


        }

        button {
            width: 100%;
            background: linear-gradient(180deg, #49a09b, #3d8291);
            text-transform: uppercase;
            font-weight: bold;
            border: none;
            box-shadow: none;
            text-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
            margin-top: 90px;

            & .fa {
                margin-right: 6px;
            }
        }

    }

    /*--------------------
    Checkout
    --------------------*/
    .checkout {
        margin: 50px auto 30px;
        position: relative;
        width: 400px;
    }

    /*--------------------
    Credit Card
    --------------------*/
    .credit-card-box {
        perspective: 1000;
        width: 100%;
        height: 280px;
        transform: translateX(-0%);

        &:hover .flip,
        &.hover .flip {
            transform: rotateY(180deg);
        }

        .front,
        .back {
            width: 100%;
            height: 250px;
            border-radius: 15px;
            backface-visibility: hidden;
            background: linear-gradient(135deg, #bd6772, #53223f);
            position: absolute;
            color: #fff;
            font-family: Inconsolata;
            top: 0;
            left: 0;
            text-shadow: 0 1px 1px hsla(0, 0, 0, 0.3);
            box-shadow: 0 1px 6px hsla(0, 0, 0, 0.3);

            &::before {
                content: '';
                position: absolute;
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
                background: url('http://cdn.flaticon.com/svg/44/44386.svg') no-repeat center;
                background-size: cover;
                opacity: .05;
            }
        }

        .flip {
            transition: 0.6s;
            transform-style: preserve-3d;
            position: relative;
        }

        .logo {
            position: absolute;
            top: 9px;
            right: 20px;
            width: 60px;

            img {
                filter: invert(1);
                width: 100%;
                height: auto;
            }
        }

        .front {
            z-index: 2;
            transform: rotateY(0deg);
        }

        .back {
            transform: rotateY(180deg);

            .logo {
                top: 185px;
            }

        }

        .chip {
            position: absolute;
            width: 60px;
            height: 45px;
            top: 20px;
            left: 20px;
            background: linear-gradient(135deg, hsl(269,54%,87%) 0%,hsl(200,64%,89%) 44%,hsl(18,55%,94%) 100%);;
            border-radius: 8px;

            &::before {
                content: '';
                position: absolute;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                margin: auto;
                border: 4px solid hsla(0, 0, 50, .1);
                width: 80%;
                height: 70%;
                border-radius: 5px;
            }
        }

        .strip {
            background: linear-gradient(135deg, hsl(0, 0, 25%), hsl(0, 0, 10%));
            position: absolute;
            width: 100%;
            height: 50px;
            top: 30px;
            left: 0;
        }

        .numberr {
            position: absolute;
            margin: 0 auto;
            top: 103px;
            left: 19px;
            font-size: 38px;
        }

        label {
            font-size: 10px;
            letter-spacing: 1px;
            text-shadow: none;
            text-transform: uppercase;
            font-weight: normal;
            opacity: 0.5;
            display: block;
            margin-bottom: 3px;
        }

        .card-holder,
        .card-expiration-date {
            position: absolute;
            margin: 0 auto;
            top: 180px;
            left: 19px;
            font-size: 22px;
            text-transform: capitalize;
        }

        .card-expiration-date {
            text-align: right;
            left: auto;
            right: 20px;
        }

        .ccv {
            height: 36px;
            background: #fff;
            width: 91%;
            border-radius: 5px;
            top: 110px;
            left: 0;
            right: 0;
            position: absolute;
            margin: 0 auto;
            color: #000;
            text-align: right;
            padding: 10px;

            label {
                margin: -25px 0 14px;
                color: #fff;
            }
        }


    }

}