.col-3-images {
    margin: rem(50px) auto 0;

    div > div {
        margin-bottom: rem(50px);
    }

    .link {
        color: map-get($brand, 'green');
        text-decoration: none;
        transform: scale(1);
        transition: all .5s ease;

        &:hover {
            transform: scale(2);
        }
    }
}

.cms-index-index {
    .relative {
        overflow: hidden;
        position: relative;

        span a {
            background-color: map-get($color, 'white');
            bottom: 20%;
            display: block;
            line-height: rem(50px);
            position: absolute;
            text-align: center;
            text-transform: uppercase;
            width: 100%;

            &::before,
            &::after {
                background-color: rgba(map-get($brand, 'green'), .9);
                content: '';
                display: block;
                height: 5px;
                width: 100%;
            }
        }
    }
}
