%input-wrapper {
    color: map-get($color, 'grey');
    display: block;
    font-family: FontAwesome;
    left: 15px;
    pointer-events: none;
    position: absolute;
    top: 50%;
    transform: translateY(-150%);
}

.customer-address-index {
    .back-link {
        float: left;
        transform: translateY(-10%);

        small {
            display: none;
        }

        a {
            text-decoration: none;
        }

        a::before {
            //background-color: map;
            content: '\f104';
            font-family: FontAwesome;
            display: inline-block;
            margin-right: 5px;
            transform: translateX(0%);
            transition: all .5s ease;
        }

        a:hover::before {
           transform: translateX(-50%);
        }
    }

    address {
        font-style: initial;
    }

    .addresses-list li {
        border-top: 1px dotted #645d4e;
        list-style-type: none;
        padding-top: 15px;
    }

    .addresses-primary li:last-of-type {
      border-bottom: 1px dotted #645d4e;
    }

    .page-title.title-buttons{
        display: block;

        h1 {
            display: none;
        }
    }

    .item {
        margin-bottom: 0;
    }

    .my-account {
        button {
            @include flat-button(map-get($brand, 'green'), map-get($brand, 'brown'));
            color: map-get($color, 'white');
            display: inline-block;
            float: right;
            margin: rem(15px) auto;
            padding: rem(10px) rem(20px);
            text-align: center;
            text-decoration: none;
        }
    }

    .col-1.addresses-primary {
        @include sm{
            @include span-columns(6);
        }
    }

    .col-2.addresses-additional {
        @include sm {
            @include span-columns(6);
            @include omega;
        }
    }

    .wrap-h2 {
        border-bottom: solid 1px;
        margin-top: 2px;

        h2 {
            display: inline-block;
            margin-bottom: 0;
        }

        h2::after {
            background-color: map-get($brand, 'brown');
            content: '';
            display: inline-block;
            height: 3px;
            margin-top: 22px;
            width: 100%;
        }
    }
}
.customer-address-form {
    li {
        list-style-type: none;
    }

    .fieldset {
        margin-top: 0;
    }

    .wrap-h2 {
        border-bottom: solid 1px;
        margin-top: 2px;

        h2 {
            display: inline-block;
            margin-bottom: 0;
        }

        h2::after {
            background-color: map-get($brand, 'brown');
            content: '';
            display: inline-block;
            height: 3px;
            margin-top: 22px;
            width: 100%;
        }
    }

    .form-list {
        margin: 30px 0;

        input,
        select{
            max-width: 500px;
            padding: 10px 20px 10px 35px;
            width: 100%;
        }

        input:focus {
            color: map-get($brand, 'brown');
        }

        .region-select {
            margin-top: -15px;
        }

        .input-box {
            height: 70px;
            position: relative;
        }

        .validation-advice {
            color: map-get($color, 'red');
            margin-top: 5px;
        }
    }

    .name-wrapper::before {
        @extend %input-wrapper;
        content: '\f007';
    }

    .company-wrapper::before {
        @extend %input-wrapper;
        content: '\f1ad';
    }

    .tel-wrapper::before {
        @extend %input-wrapper;
        content: '\f095';
    }

    .fax-wrapper::before {
        @extend %input-wrapper;
        content: '\f1ac';
    }

    .address-wrapper::before {
        @extend %input-wrapper;
        content: '\f041';
    }

    .city-wrapper::before {
        @extend %input-wrapper;
        content: '\f19c';
    }

    .buttons-set {
        max-width: 500px;
        width: 100%;

        .required {
            color: map-get($brand, 'green');
            text-align: right;
        }

        button {
            @include flat-button(map-get($brand, 'green'), map-get($brand, 'brown'));
            color: map-get($color, 'white');
            display: inline-block;
            float: right;
            margin: rem(10px) auto;
            padding: rem(10px) rem(20px);
            text-align: center;
            text-decoration: none;
        }

    }

    .back-link {
        float: left;
        transform: translateY(-10%);

        small {
            display: none;
        }

        a {
            text-decoration: none;
        }

        a::before {
            //background-color: map;
            content: '\f104';
            font-family: FontAwesome;
            display: inline-block;
            margin-right: 5px;
            transform: translateX(0%);
            transition: all .5s ease;
        }

        a:hover::before {
            transform: translateX(-50%);
        }
    }
}
