%input-wrapper {
    color: map-get($color, 'grey');
    display: block;
    font-family: FontAwesome;
    left: 15px;
    pointer-events: none;
    position: absolute;
    top: 50%;
    transform: translateY(-150%);
}

.customer-account-edit {
    li {
        list-style-type: none;
    }

    input {
        max-width: 500px;
        padding: 10px 20px 10px 35px;
        width: 100%;
    }

    input:focus {
        color: map-get($brand, 'brown');
    }

    .name-wrapper::before {
        @extend %input-wrapper;
        content: '\f007';
    }

    .password-wrapper::before {
        @extend %input-wrapper;
        content: '\f023';
    }

    .emai-wrapper::before {
        @extend %input-wrapper;
        content: '\f0e0';
    }

    .input-box {
        height: 70px;
        position: relative;
        //margin-bottom: 15px;
    }

    .control {
        max-width: 500px;
        width: 100%;
    }

    .buttons-set {
        max-width: 500px;
        width: 100%;

        .required {
            color: map-get($brand, 'green');
            text-align: right;
        }

        button {
            @include flat-button(map-get($brand, 'green'), map-get($brand, 'brown'));
            color: map-get($color, 'white');
            display: inline-block;
            float: right;
            margin: rem(10px) auto;
            padding: rem(10px) rem(20px);
            text-align: center;
            text-decoration: none;
        }

    }

    .back-link {
        float: left;
        transform: translateY(-10%);

        small {
            display: none;
        }

        a {
            text-decoration: none;
        }

        a::before {
            //background-color: map;
            content: '\f104';
            font-family: FontAwesome;
            display: inline-block;
            margin-right: 5px;
            transform: translateX(0%);
            transition: all .5s ease;
        }

        a:hover::before {
            transform: translateX(-50%);
        }
    }

    .validation-advice {
        color: map-get($color, 'red');
        margin-top: 5px;
    }
}

.fieldset{
    margin-top: 30px;
    transition: all .5s ease;

    .legend {

        &::after {
            background-color: map-get($brand, 'brown');
            content: '';
            display: block;
            height: 1px;
            margin-top: 1px;
            width: 100%;
        }

        span {
            display: inline-block;
        }

        span::before {
            background-color: map-get($brand, 'brown');
            content: '';
            display: block;
            height: 3px;
            margin-bottom: -33px;
            width: 100%;
        }
    }

    .control {
        input {
                opacity: 0;
        }

        label{
            color: map-get($brand, 'green');
            cursor: pointer;
            display: inline-block;
            width: auto;

            &::before {
                content: '\f0c8';
                cursor: pointer;
                font-family: FontAwesome;
                display: inline-block;
                height: 20px;
                margin-right: 10px;
                width: 20px;
            }

        }

        input:checked + label::before {
            content: '\f14a';
        }
    }
}
