.col2-left-layout {
    .col-main {
        @include md {
            @include span-columns(9);
            @include omega;
        }

        margin-bottom: rem(100px);

        a {
            color: map-get($brand, 'green');
            display: block;
            margin-top: 1rem;
        }

        .page-title {
            display: none;
        }

        .hello {
            color: map-get($brand, 'green');
            margin-top: 40px;
        }

        .box-head {
            border-bottom: solid 1px;
            margin-top: 20px;

            h2 {
                display: inline-block;
                margin-bottom: 0;
            }

            h2::after {
                background-color: map-get($brand, 'brown');
                content: '';
                display: inline-block;
                height: 3px;
                margin-top: 30px;
                width: 100%;
            }
        }

        .box-title {
            border-bottom: 1px dotted;
            clear: both;

            > * {
                display: inline-block;
            }

            > a {
                float: right;
            }


        }
    }

    .col-left {
        @include md {
            @include span-columns(3);
        }

        li {
            border-bottom: 1px solid map-get($brand, 'light-brown');
            list-style-type: none;
            margin-bottom: 15px;
            padding-bottom: 10px;
        }

        a {
            color: map-get($brand, 'brown');
            display: block;
            margin-bottom: -12px;
            text-decoration: none;
            transition: all .5s ease;

            &:hover {
                color: map-get($brand, 'green');
            }

            &::after {
                background-color: map-get($brand, 'green');
                content: '';
                display: block;
                height: 3px;
                margin-top: 17px;
                transition: all .5s ease;
                width: 0%;
            }

            &:hover::after {
                width: 50%;
            }
        }

        .current {
            color: map-get($brand, 'green');

            strong {
                display: block;
                margin-bottom: -12px;

                &::after {
                    background-color: map-get($brand, 'green');
                    content: '';
                    display: block;
                    height: 3px;
                    margin-top: 17px;
                    transition: all .5s ease;
                    width: 50%;
                }
            }
        }
    }
}

.block-account {
    .block-title {
        span {
            color: map-get($brand, 'brown');
            display: block;
            font-size: 1.5rem;
            margin: 3.75rem 0 2.5rem;

            &::after,
            &::before {
                background-color: map-get($brand, 'brown');
                content: '';
                display: block;
                height: 1px;
                margin-top: 25px;
                width: 100%;
            }

            &::before {
                border-radius: 5px;
                height: 3px;
                margin-bottom: rem(-41px);
                margin-top: 0;
                width: 50%;
            }
        }
    }
}

.col2-set .box-content {
    > * {
        @include md {
            @include span-columns(6);
            @include omega(2n);
        }
    }
}