.wishlist-index-index{
    @include md {
        .price-info-add,
        .edit-remove,
        .price-box,
        .add-to-cart-alt{
            display: block;
        }

        .add-to-cart-alt > input{
            display: block;
            margin: 0 0 0 auto;
        }

        table {
            width: 100%;
        }

        tr > th,
        tr > td{
            text-align: left;
        }

        tr > .last {
            display: none;
        }

        tr > th:nth-child(3),
        tr > td:nth-child(3) {
            text-align: right;
            padding-right: 0;
        }

        th {
            border-top: 1px solid map-get($brand, 'brown');
            border-bottom: 1px solid map-get($brand, 'brown');
            padding: 15px 0;
        }

        tbody > tr {
            border-bottom: 1px solid map-get($brand, 'brown');
        }

        .price-box {
            margin-bottom: 10px;
        }
    }

    thead {
        @include md {
            display: table-header-group;
        }

        display: none;
    }

    table {
        margin: 0 auto;
    }

    td {
        @include md {
            display: table-cell;
            height: 250px;
            padding: 0 20px;
        }

        display: block;

        img {
            display: block;
            margin: 0 auto;
            width: 100%;
        }
    }

    .description.std {
        margin-bottom: 20px;
    }

    textarea {
        width: 100%;
        height: 70px;
    }

    .price-box {
        margin-top: 20px;
    }

    .buttons-set.buttons-set2 {
        @include md {
            text-align: right;
        }

        text-align: center;

        > button {
            @include flat-button(map-get($brand, 'green'), map-get($brand, 'brown'));
            color: map-get($color, 'white');
            display: inline-block;
            margin: rem(10px) auto;
            padding: rem(10px) rem(20px);
            text-align: center;
            text-decoration: none;
        }
    }

    .add-to-cart-alt input {
        padding-bottom: 6px;
        padding-top: 5px;
    }

    [class*="class_item_"] {
        @include md {
            display: table-row;
        }

        box-shadow: 0 1px 3px rgba(map-get($color, 'black'), .15);
        display: block;
        margin: 10px auto;
        padding: 10px;

        &:hover {
            box-shadow: 0 5px 1px 5px rgba(map-get($color, 'black'), .15);
        }
    }
}

.box-account > .data-table,
.sales-order-history{
table {
    border-collapse: collapse;
    width: 100%;
}

table, td, th {
    border: 1px solid black;
    text-align: center;

}
    td {
        width: 100/6 * 1%;
    }

    .nobr > span,
    .nobr > a:last-of-type {
        display: none;
    }
}
